[2016-12-09 14:11] sorenbs commented on #229
@stubailo do you guys have a concrete plan for how this should work. We are about to implement mutation based file upload for graph.cool and want to align closely with Apollo.

[2016-12-10 16:40] callmephilip commented on #234
@helfer can you guys please publish the new version

[2016-12-11 19:21] AlexLeung commented on #231
I cannot confirm.
I ran `npm i --save koa-bodyparser@next` and replaced `import koaBody from 'koa-body';` with `import koaBody from 'koa-bodyparser'`, and am still using Koa 2. Same errors.

[2016-12-11 19:26] AlexLeung commented on #231
Here's my code: https://github.com/AlexLeung/ApolloServerKoa_Test/blob/master/server.js

[2016-12-11 19:27] AlexLeung commented on #231
Once we figure this out I'd like to make a PR which updates README to tell people **exactly** what packages and imports they should be using.

[2016-12-13 09:10] helfer commented on #218
I'm not sure if this is going to help all that much. Maybe if there was a first example issue I could be convinced otherwise 🙂

[2016-12-13 09:12] helfer commented on #212
since it's open on the docs, I'll close it here.

[2016-12-13 09:12] #212 closed

[2016-12-13 09:14] helfer commented on #217
I think the "query" part here is a bit misleading. Maybe it should have been called "document" instead, but people have used the terms interchangeably. We intentionally support only JSON requests, and the "query" field can be a query or a mutation.

[2016-12-13 09:14] #217 closed

[2016-12-13 09:16] helfer commented on #222
@rogchap I'm not sure if this issue has anything to do with graphql-server. I think graphiql would be a better place for it, but as far as I know fetch can already return an observable there.

[2016-12-13 09:17] helfer commented on #112
Good stuff @jmurzy ! 🙂

[2016-12-13 09:17] #112 closed

[2016-12-13 09:23] helfer commented on #231
@HriBB can you take a quick look and see if there's any problem with our package here?

[2016-12-13 11:00] rogchap commented on #222
@helfer I think that graphiql is fine and more to do with how we implement `graphQLFetcher`:

https://github.com/apollostack/graphql-server/blob/master/packages/graphql-server-module-graphiql/src/renderGraphiQL.ts#L104

Maybe there's more to it?

[2016-12-13 13:42] sweetcharity opened #241 "Error: Can't set headers after they are sent. (Koa)"
(node:32432) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Can't set headers after they are sent.

I get this error when my resolver function is async:

[code]

But there is no error when it's sync:
[code]

[2016-12-13 14:00] DxCx commented on #222
yes. Graphiql supports observables.
a fetch function that returns observable should be provided.

[2016-12-13 14:03] sweetcharity commented on #241
I found what might be wrong with my code

[2016-12-13 14:03] #241 closed

[2016-12-13 16:48] sweetcharity commented on #231
you have version 5.x of koa-router installed, but you need 7.x. do ```npm install koa-router@next```

[2016-12-13 17:10] helfer commented on #222
@rogchap indeed, you're right! Looking forward to that PR :wink:

[2016-12-13 17:13] helfer commented on #231
@AlexLeung can you check if @sweetcharity 's suggestion fixes your issue?

[2016-12-13 20:07] lorensr commented on #218
#217 was an example, albeit not needed during triage

[2016-12-13 22:23] nicholaswyoung commented on #234
Ping. Can we get this released to npm?

[2016-12-14 15:54] AlexLeung commented on #231
It worked. #242

[2016-12-14 15:58] AlexLeung commented on #231
https://github.com/apollostack/graphql-server/pull/242/commits/78cefe060c0c0368454c83b80b21191d23c602c0

[2016-12-14 19:24] estk opened #243 "Latest release doesn't work with graphql ^0.8.0"
Seems like someone has already done the work of upgrading since master has graphql ^0.8.2 in the root package.json, and  `"graphql": "^0.6.1 || ^0.7.0 || ^0.8.0"` in each project.

Not sure if it's ready, but it if so it would be great to cut a release.

[2016-12-14 20:33] NeoReyad commented on #101
I will take some time to look into creating a package for lambda

[2016-12-14 21:34] aikonplus commented on #243
Does not work for me too, get this error:
apollo-server@0.3.3 requires a peer of graphql@^0.6.1 || ^0.7.0 but none was installed.

and I have this in my package.json
"graphql": "^0.8.2"

[2016-12-15 03:23] turadg commented on #176
Looks like this is blocked on #186.

In the meantime, hack it in `graphql-server-hapi` with https://github.com/PhiloInc/graphql-server/commit/4408f555b874d68c20abcd187f6f8ca4109f82d1  (Thanks @NeoPhi!) or `graphql-server-express` with https://github.com/remind101/graphql-server/commit/55f4a08a938f15a06012643b9ed9e5f679974232

[2016-12-15 04:28] smolinari opened #244 "Batching and possibly using dataloader"
Hi,

Is graphql-server's batching feature also doing the same thing as [Facebook's dataloader batching feature](https://github.com/facebook/dataloader)? If it is feature overlap, does that mean caching will also be available in graphql-server?

Scott

[2016-12-15 20:23] dfischer commented on #101
GraphQL server architecturally would require the entire server to be behind one lambda function. At least, the "query server" in your stack.

This raises a flag in my book because lambda is meant for small, isolated, stateless functions that need to be spun up quickly.

I'm assuming that a GraphQL server over time would need to handle quite a bit of resolvers and spinning a lambda function for the

[2016-12-15 21:55] NeoReyad commented on #101
@dfischer
Are you saying a lambda function would be too slow for a GraphQL server endpoint? We have done testing and it starts up very quickly. What would you gain by running a full ec2 instance?

[2016-12-15 22:18] vangorra commented on #101
I figure I should chime in here.

We are using a modified version of @skrigs apollo lambda implementation (See earlier in the thread for details).

As far as performance goes, I see no difference in running off lambda vs a dedicated instance, and I've implemented both. That being said, there is a lot of code bring executed that would normally only run once. For instance, the schema parser and reso

[2016-12-15 22:24] dfischer commented on #101
Nice anecdotes, thanks @NeoReyad and @vangorra.

What type of latency are you seeing in the requests with lambda? 100-500ms? The overhead wasn't significant?

It'd be really interesting to build a GraphQL server with [Step Functions](https://aws.amazon.com/step-functions/).

[2016-12-15 22:37] iwaldman commented on #243
Hi, any ETA?

[2016-12-15 23:10] vangorra commented on #101
@dfischer
Based on the tests and observations I've made with lambda, this is what I have learned. While lambda charges you for how long your handler (graphql request) runs, the lambda service will keep a node instance running for a few minutes with your code in memory ready to go for another request. This hot cache seems to clear after a few minutes of inactivity. It works a lot like fastcgi but w

[2016-12-16 01:43] estk commented on #243
Seems like there's some interest... @stubailo, @helfer ?

[2016-12-16 03:21] #231 closed

[2016-12-16 05:02] rogchap commented on #4
@stubailo

The same benefits you get from an API gateway using GraphQL is true for an internal microservice like query batching or caching for example. Why would you go back to REST, just because it's not externally facing?

[2016-12-16 09:19] DxCx commented on #244
No,
graphql-server batching feature lets it handle a batch of graphql queries.
dataloader's batcher actually hold off requests to the for data retrival and then pull them all at once.
2 different things.

[2016-12-16 09:53] smolinari commented on #244
Ah. Ok. Then I need to learn more about graphql-server's batching feature.

Thanks for the reply!

Scott

[2016-12-16 09:53] #244 closed

[2016-12-16 12:58] helfer commented on #243
@estk I think @nnance was going to cut a release shortly. 🙂

[2016-12-16 15:08] faceyspacey opened #245 "How to cache queries based on URL (e.g. using cloudflare)?"
Is it possible to configure the middleware to receive request data as URL parameters instead of in the body?

I'm looking to make use of cloudflare's URL caching for some of my request endpoints, but if the body must be used, it's a non-option.

[2016-12-17 14:02] veeramarni commented on #43
I was wondering, whether solution posted by @icebob  is still valid in latest Apollo version?

[2016-12-17 14:03] icebob commented on #43
Yes, I'm using with new Apollo version.

[2016-12-17 21:23] veeramarni commented on #43
You can additional check when there is no mutation used.
[code]

[2016-12-19 06:53] drnachio commented on #229
I have the same problem.

[2016-12-20 12:44] kachkaev commented on #234
ping 2 @helfer :–)

[2016-12-21 16:26] helfer commented on #229
@sorenbs We haven't really had to deal with file upload, so we haven't thought about it too much. It looks like there is enough interest in this topic that we might pick it up soon, though.

[2016-12-22 11:33] Othey1991 opened #252 "Can't run tests."
Hello friends,

I wanted to work on this project, but can't get the tests to run.
What am I doing wrong?
I had a look at the readme and travis file but can't get the tests to run.

These are my (hopefully reproducibly) steps.

[code]

This is my output:

[code]

[2016-12-22 18:54] rricard opened #253 "Umbrella Issue: Server side support for Persisted Queries"
Effort to implement the server side of https://github.com/apollostack/apollo-client/issues/478.

### Reach a design decision

- [ ] Propose target designs in this issue's thread. We'll mainly try to follow Facebook's reference design expressed in https://github.com/graphql/express-graphql/pull/109 that is likely to end up in the draft.

### Implement persistence management

- [ ] Add a `POST /pers

[2016-12-27 05:47] linonetwo opened #256 "Progress bar support for client-side"
I'm imaging add a progress bar for every component that is fetching data. Currently apollo-client provides a loading API, which can be true, false or undefined.

But I think we can optionally provide more detailed data fetching information by adding progress like 0.3 (means 30%), and 1.0 ( means 100%) in completed.

I'd like to PR for this if it's not very hard for me. I think it's something likes

[2016-12-27 05:47] linonetwo commented on #256
move to https://github.com/apollostack/graphql-tools/issues/245

[2016-12-27 05:47] #256 closed

[2016-12-27 22:12] booboothefool opened #257 "Queries arbitrarily hang... not sure if Apollo GraphQL or Neo4j"
I have a query that looks something like this:

![stuckqueries](https://cloud.githubusercontent.com/assets/13257645/21528820/34f1ed7e-cd03-11e6-9752-59dd10cb7b36.gif)

I find that if I query them together like above, there is a chance that the query can hang, although it works a majority of the time. I haven't seen it hang if I run `userPersona` or `userGames` by itself though, and it's either one

[2016-12-30 03:26] #257 closed

[2016-12-30 03:43] helfer commented on #252
@Othey1991 Hey, I think you just have to run `typings install typed-graphql`. Since it's a Typescript project you have to go through the setup for a typescript project.

[2016-12-30 20:35] coreygo commented on #243
Trying to work around this but currently unsuccessful. Friendly bump @helfer. Thanks :)

[2017-01-01 23:26] rnenjoy opened #258 "Can i use an object as input in a mutation?"
Hello!

I'm having trouble to find information about this. I'm trying this:

[code]

But i'm getting errors that Post! isn't a valid type.

Also this is my client mutation call using Vue-apollo

[code]

Another question. If I delete a Post from the post database. Can i somehow return all posts ([Post]) from the resolver for deletePost? Or is that bad practice? Should I somehow rerun the getPosts q

[2017-01-03 12:26] Othey1991 commented on #252
Hello @helfer,

thanks for the feedback.

Yes, in the error message the typed-graphql is missing.
But I don't understand why.

I run

[code]

This should work. It seems to work in travis.

I could not install typed-graphql via `typings install typed-graphql`, but had to use the command the [README](https://www.npmjs.com/package/typed-graphql) suggested `typings install --save github:nitintutlani/t

[2017-01-03 14:10] linonetwo opened #259 "Serialize a Promise or Observerable for slow resolvers"
I'm experimenting with GraphQL wrapping with Amazon's Mechanical Turk (AMT), which is a human driven knowledge service.

![v2-0ca92ca2db85609046c4cf477fdb6bd7_b](https://cloud.githubusercontent.com/assets/3746270/21609891/e1d42f7e-d1ff-11e6-9328-85b6f57bbee3.jpg)

Look at this ↑ ```HCrowd.prompt``` let us ask five **real** human where is the best place in NewYork. This is gonna be a slow API behin

[2017-01-04 11:42] rnenjoy commented on #258
Solved. My bad!

[2017-01-05 05:51] tony19 commented on #48
Hmm. I didn't find any reference to `express-graphql` in `graphql-server-express`'s code/manifest.

@helfer I can confirm that [`graphql-server-express` 0.4.3](https://github.com/apollostack/graphql-server/tree/master/packages/graphql-server-express) (used by the [`frontpage-server` demo](https://github.com/apollostack/frontpage-server)) does not support `Content-Type: application/graphql`.

`appl

[2017-01-05 05:54] stubailo commented on #48
Content type application/graphql isn't great because it doesn't support variables. I would suggest just not using it.

[2017-01-05 06:01] tony19 commented on #48
@stubailo Can you clarify? Variables work for me.

[2017-01-05 06:08] tony19 commented on #48
Sorry, I misunderstood what GraphQL variables were until I read the [docs](https://medium.com/the-graphqlhub/graphql-tour-variables-58c6abd10f56#.dgc26xrfr).

[2017-01-05 06:11] stubailo commented on #48
Right - variables are a critical part of the GraphQL specification, so it's really surprising that the "official" HTTP server middleware supports a transport that doesn't have any ability to use them.

[2017-01-06 14:18] ropsu commented on #234
ping-3 @helfer ;)

[2017-01-06 15:40] helfer commented on #234
Sorry I dropped the ball on this one. There was a misunderstanding about who was going to release a new version. Making sure it happens now!

[2017-01-06 23:30] #258 closed

[2017-01-07 03:31] paralin commented on #18
When do you guys plan to revisit this?

[2017-01-07 03:33] paralin commented on #34
I would say this shouldn't be tied to RethinkDB at all, we just need an interface to return a stream of entries, and for Apollo client to understand this.

[2017-01-07 04:29] helfer commented on #243
Should be all good now, folks. Sorry for the delay, there was a misunderstanding about who was going to release the next version 😞

[2017-01-07 04:29] #243 closed

[2017-01-11 04:32] anhldbk opened #265 "GraphQL server & micro services"
I am sorry if you're bored with the following question.

So it will receive GraphQL requests and forward to micro services behind. We can use any technology to implement the services.

[2017-01-11 05:17] TimMikeladze commented on #265
Your understanding is correct.

[2017-01-11 17:16] ericclemmons opened #266 "Internal GraphQL requests within a resolver?"
I have a specific `type LiveFeed` that would like to use GraphQL to fetch a larger tree & reduce it down.

Is there a way I can reuse `rootValue`, `context`, etc. from the existing request within the `LiveFeed` resolver and basically run `runQuery(...)` myself with a new `query` and `variables`?

[2017-01-11 17:34] ericclemmons commented on #266
Ok, I was able to do some digging and figured out something like:

[code]

[2017-01-11 17:34] #266 closed

[2017-01-11 19:12] chafnan commented on #205
@helfer Are there any examples of adding the user to the context for hapi?

[2017-01-11 19:38] chafnan commented on #205
I found an answer.

Turns out the `graphqlOptions` can be function.  Here is an example.

[code]

[2017-01-11 23:40] veeramarni opened #267 "integration with amqp"
We are wondering what would be the best way to have graphql server subscribe to amqp queues(such as  "graphql" queue name) so the microservices can run query and mutation by pushing requests to the queues.

[2017-01-12 00:53] veeramarni commented on #267
Looks to be we can use `pubsub.subscribe` to subscribe to a AMQP queue. I will let everyone know how it goes. Please do let me know if there is a better way.

We are working on below setup, in case anyone is curious.
![image](https://cloud.githubusercontent.com/assets/3382355/21872618/65b483d8-d837-11e6-982b-ba19b244351c.png)

[2017-01-12 01:02] idibidiart opened #268 "SQL Generation and Optimization"
(@marcfawzi here)

Hey guys,

I've been looking at both Join Monster and the Sangria GraphQL server. I like the dynamic SQL generation in Join Monster and its many advantages including its focus on performance. I also like the lazy evaluation for nested/recursive queries in Sangria, so we don't have to adopt awkward defensive    measures like here (https://medium.com/@mattmazzola/graphql-controlli

[2017-01-12 05:27] smolinari commented on #268
AFAIK, the general thinking with Apollo server is to support just a light standard GraphQL API up front with certain tools and not deal directly with any business or persistence logic below it. All that logic is up to the client dev using apollo. I personally think it is the right thing to do too. There are just too many scenarios to cover to be able to come up with such mechanisms, and at the sam

[2017-01-12 09:35] DxCx commented on #205
correct. :)

[2017-01-12 09:35] #205 closed

[2017-01-12 20:14] jarwol commented on #121
👍 - I unfortunately have to swap out apollo server for express-graphql for now, since CloudFront doesn't cache POSTs.

[2017-01-13 09:03] DxCx commented on #121
@jarwol, the code for GET support is almost ready to be merged.. stay tuned ;)

[2017-01-13 21:23] laxgoalie392 commented on #222
any update on this?

[2017-01-15 20:36] Rastamafugg opened #269 "405 Method Not Allowed when trying to connect react-apollo client to graphql-server-express endpoint with CORS"
I am trying to connect my react-apollo client to my graphql backend and I keep getting a 405 error.  My server is hosted on localhost port 3000, and my client is also on localhost (port 8100).  I have enabled CORS in express to allow this conenction, but when my client tries to connect, I get the error:

`OPTIONS http://localhost:3000/graphql 405 (Method Not Allowed)`

Here are the request and res

[2017-01-15 21:18] DxCx commented on #269
hi @Rastamafugg, is GET/POST works?

[2017-01-17 01:13] lorensr commented on #72
This was added in https://github.com/graphql/graphql-js/pull/464/

and now works as a # comment in the schema string:

https://github.com/apollostack/GitHunt-API/blob/master/api/schema.js#L9

[2017-01-17 01:17] vangorra commented on #17
Here's an incredible rudimentary script we run. It will convert our schema file to typescript defs.

[2017-01-17 03:13] stubailo commented on #17
Apollo Codegen now supports TypeScript and soon Flow: https://github.com/apollostack/apollo-codegen

Note that if you are using this for client-side type generation the best way is to generate specific types for every query, so that you can ensure your queries have loaded all of the fields you need for your UI.

[2017-01-17 23:17] nicolas-goudry opened #270 "Promise in resolver"
Hi,

I’m trying to setup a server which exposes a GraphQL server with Elasticsearch behind the scenes.

I have a simple schema:

[code]

And here are my resolvers:

[code]

I tried to log the content of `hits.hits[0]._source` and it looks like this:

[code]

However, I receive a `Cannot return null for non-nullable field User.username.` error everytime I try to query this resource… Here is the req

[2017-01-17 23:24] DxCx commented on #17
also i came across http://graphql-codegen.com which works very good in my experiance, used it to build typings for schema in compile type, while resolvers are using this typings so if scheme has breaking change, it will pop right up on compilation :)

[2017-01-17 23:29] DxCx commented on #270
Hi @nicolas-goudry,
this has nothing to do with promise in response,
this is actually due to the fact your resolve actually returns:
[code]

therefore, when GraphQL validates the fields exists in the response, they won't,
they exists in <reslove Value>.hint

so, basically, what's needs to be done, is just eliminate the extra key:
[code]

[2017-01-17 23:35] Rastamafugg commented on #269
Not sure, but I decided to go for another solution to my problem that eliminated the need for CORS.  I'll close this issue.

[2017-01-17 23:35] #269 closed

[2017-01-18 00:06] nicolas-goudry commented on #270
@DxCx Shame on me… Thanks for the quick hint!

[2017-01-18 00:06] #270 closed

[2017-01-18 08:08] DxCx commented on #269
well @Rastamafugg i was asking that because as far as i know, graphql server doesn't support OPTIONS method.
so basically, there is a possibility that CORS actually worked for you, but graphqlExpress rejected it.
anyway, more debugging is required to understand this usecase..

[2017-01-19 00:10] mdebbar commented on #176
@turadg I'm having trouble installing from your fork (remind101@55f4a08). Any idea how I can install `graphql-server-express` from your fork? npm doesn't seem to support installing from a subdirectory/sub-package.

[2017-01-19 00:16] DxCx commented on #176
well, hopefully #180 will be merged soon, then that's the next thing i was planing to take care of.

[2017-01-19 00:19] mdebbar commented on #176
Thanks @DxCx! In that case, I'll wait for the official release since it's not a bug fix, but an optimization.

[2017-01-19 00:24] turadg commented on #176
@mdebbar our fork is published under a private org, so you'd have to publish your own package somewhere.

Looking forward to the official release!

[2017-01-19 02:36] #121 closed

[2017-01-19 02:36] #186 closed

[2017-01-19 07:54] DxCx commented on #176
So 180 got merged :)
Now regrading running in parallel, i would like to hear your toughts about it:
1. Should it just run in parallel? Or extra flag is needed, if we are adding a flag we still need to define default behavior.
2. If the whole batching proccess is over an array of queiries, thats no problem, since data wont change, but if we have a mutation inside the batch then data may get effecte

[2017-01-19 09:02] glasser commented on #176
If batching is just an optimization over sending separate requests (I dunno
if that's true) then a client sending a mutation and an overlapping query
in parallel probably shouldn't be allowed to assume anything about the
ordering of their execution. If they want to do two things in series
shouldn't they either send the requests in series, or include the data in
the mutation's own result data?

On

[2017-01-19 10:33] DxCx commented on #176
@glasser hmm interesting thought.
well, im not 100% familiar with batching on client side, but as far as i know the user doesn't have much control over it, i mean, he can either enable it or not, and then operations will be aggregated and batched (sometimes by ticks, sometimes by just a serial clock to send a queue)
therefore, i'm not sure how much we can expect from the user to co-operate with th

[2017-01-19 12:34] NeoPhi commented on #176
I don't feel like the server should try to figure out the intensions of the client with regard to serial or parallel execution if mutations are involved. If the queries are independent of the mutations the overall request time will take longer since the queries must wait until the mutation finishes. As batching is an optimization (versus the client issuing parallel requests) any sequencing involvi

[2017-01-19 17:08] DxCx opened #272 "ws Network Interface Integration"
Hi All,

I've been speaking with @helfer and we got into agreement that i should add a pure websocket integration.
before writing anything, i want to post here some mini-design to share my thoughts and hear some feedback.

**package name**: i was thinking about `graphql-server-ws`, then the function will be called `graphqlWs`.

**how to use it**:
So, i don't see any reason why not having the same

[2017-01-19 23:52] mdebbar commented on #176
The way I think about it is that, from a developer's perspective, batched queries should behave the same as individual queries and provide the same guarantees.

When batching is disabled and the client does a query and a mutation simultaneously (from different parts of the code), there are no guarantees which one will be executed first. It all depends on network conditions and how the server handl

[2017-01-21 01:16] helfer commented on #176
@DxCx I agree with what @glasser and others said: Batching doesn't guarantee anything about execution order, so all the queries should be executed in parallel by default. We do not need to have any special ordering inside the batch either, because if the queries or mutations were submitted independently, there would be no guarantee about the order of execution either.

[2017-01-23 06:44] DxCx commented on #176
Well actually inside graphql engine you can see that queries indeed run in parallel, however mutations runs in serial, because they can effect each other.
However, if you both think we should ignore that, then np, simply run in parallel it is..

[2017-01-23 13:10] NeoPhi commented on #176
@DxCx I see the GraphQL specification is clear about multiple mutations running serially when defined within a single document. Since batching involves multiple documents, I view as akin to multiple requests which have no semantics for the order they will be resolved in.

[2017-01-23 14:33] sorenbs commented on #229
@helfer That's excellent news! Anything we can do to help move this forward? It seems like @HriBB has done an excellent job exploring a concrete implementation already.

[2017-01-23 19:02] #193 closed

[2017-01-24 10:38] #176 closed

[2017-01-24 15:24] #268 closed

[2017-01-24 15:25] DxCx commented on #267
@veeramarni any update? :)

[2017-01-24 15:26] DxCx commented on #265
ofcourse, eventually, Schema is executing resolvers, resolvers are just plain javascript code :)

[2017-01-24 15:26] #265 closed

[2017-01-24 15:29] DxCx commented on #259
hi @linonetwo are you familiar with @live / @stream directives?
sounds to me that this is what you are looking for (They are not available yet)

[2017-01-24 15:30] DxCx commented on #252
@Othey1991 can you retry with latest package available? we moved to @types/graphql.

[2017-01-24 15:32] DxCx commented on #245
hi @faceyspacey
we've introduced GET support on latest version,
so basically you can now send GET requests to the server,
as far as i know, cloudflare's should cache them.
please give it a try and update here ;)

[2017-01-24 15:35] DxCx commented on #222
I've started working on a proper websocket interface design (#272).
once this will be supported i'll probably submit my renderGraphiql patch to support Observables over websocket

[2017-01-24 15:41] DxCx commented on #175
well looks like @rusfearuth is not responding..
anyone else is interested in this?

[2017-01-24 15:44] DxCx commented on #157
params are passed to runQuery right after is defined.
runQuery requires QueryOptions, so, this is pretty much aligned.

[2017-01-24 15:44] #157 closed

[2017-01-24 15:46] DxCx commented on #144
Im not a koa expert but it looks like a decent solution..

[2017-01-24 15:46] #144 closed

[2017-01-24 18:23] idibidiart commented on #268
It's not a question as much as it is a suggestion for enhancement. Any comments?

[2017-01-24 18:24] idibidiart commented on #268
I mean regarding the plugin idea from above?

[2017-01-24 23:04] #125 closed

[2017-01-25 00:08] DxCx opened #277 "Need to update graphql-js peerDependency to 0.9.0"
in package JSONs.
Anyone is welcome to submit a PR, especially first-time contributors! 🙂

[2017-01-25 00:22] helfer commented on #277
To anyone who is interested in making the PR: feel free to ask questions, we're here to help!

[2017-01-25 00:33] #143 closed

[2017-01-25 01:54] NeoPhi commented on #272
This is something that I'm interested in as well. A few thoughts below, not as fleshed out as yours at the moment.

I'd propose `graphql-server-module-ws` as I can see this being easily added to any one of the `graphql-sever-*` implementations, like GraphiQL.

I can't say that I'm a fan of the `location` semantics for configuration. I'd use `graphqlOptions: GraphQLOptions` passed into the construc

[2017-01-25 03:21] veeramarni commented on #267
Here is it. I need to update the documentation part.

https://github.com/cdmbase/graphql-server-rabbitmq

And the above one uses rabbitmq subscription

https://github.com/cdmbase/graphql-rabbitmq-subscriptions

[2017-01-25 03:21] #267 closed

[2017-01-25 08:15] DxCx commented on #272
@NeoPhi Thanks!

i was already thinking about diffing because in the future i want to subscribe / @live / @defer / @stream with it.
for that, you need diff capability ;)

[2017-01-25 08:34] DxCx commented on #267
so @veeramarni the idea is to use the published apollo-subscription-ws to open subscriptions.
then this package will forward the subscriptions to RabitMQ?

[2017-01-25 10:28] DxCx commented on #268
well apollo server (At least for now) is more into integrations (Transport) then how to implement your scheme.
graphql-tools tries to simplify the scheme part.
however, most of the addons are coming as external packages, and i suggest you to do the same =)
but before you do, i suggest you to look at this
https://www.youtube.com/watch?v=OQTnXNCDywA
which might be relevant for your plugin =)

[2017-01-25 10:48] idibidiart commented on #268
Join Monster is actually different than DataLoader

"Why Not Use Data Loader?

DataLoader is Facebook's own solution for batch requests. It also caches individual entities. It's a simple and general tool for data fetching.

Join Monster is able to specialize for SQL, so you can avoid manually writing the queries (more configuring less programming). Data loader only batches requests for one resourc

[2017-01-25 10:52] kamilkisiela opened #279 "Why @types/es6-shim and not these from TypeScript"
@DxCx

[2017-01-25 11:32] DxCx commented on #279
what do you mean those from typescript?
we removed babel and now typescript compiles straight to es5.
you are welcome to open a PR to remove es6-shim if it's not needed. 👍

[2017-01-25 11:33] #277 closed

[2017-01-25 11:35] DxCx commented on #268
:)

yeah i know they are different, but i think that anyone who tries to do such tasks needs to watch this code-trough with lee since it gives alot value for developing similar solutions.. :)

[2017-01-25 12:01] idibidiart commented on #268
Not in plugin development land just yet... :) Just asking if the plugin idea is under consideration by Apollo team or not. You're saying the current thinking is to use external packages, which sounds good to me!

[2017-01-25 12:17] DxCx commented on #279
Closed by #280

[2017-01-25 12:17] #279 closed

[2017-01-25 14:57] Crevil opened #282 "Reference to es6-shim after change to TypeScript's es6 lib"
After upgrading to `0.5.2` the dependency to `@types/es6-shim` was removed, but the packages still contains references to this module. It is only in the compiled and distributed packages I see it.

Here is `runHttpQuery.d.ts` from the `graphql-server-core` package:
[code]

When installing `graphql-server-core` I get the following:
[code]

It seems the `graphql-server-core` is not published with th

[2017-01-25 15:35] DxCx commented on #282
Thanks @Crevil
we have changed the reference right after 0.5.2 was released.
we will probably launch another release soon. :)

[2017-01-25 15:35] #282 closed

[2017-01-25 17:16] Crevil commented on #282
@dxcx Got it. Looking forward to it and keep up the great stuff the whole team is putting into these projects.

[2017-01-26 13:12] kamilkisiela commented on #279
@DxCx Could we release it before `v0.10.0` of `apollo-angular`? :)))))))))

So I don't have to use `@types/es6-shim` and do non-standard things in tsconfig? https://github.com/kamilkisiela/apollo-angular-reproduction/pull/2/files

[2017-01-26 13:18] DxCx commented on #279
Thats @helfer :)

[2017-01-26 13:21] kamilkisiela commented on #279
@helfer :moneybag: :dollar:  :money_with_wings: :hourglass_flowing_sand:

[2017-01-26 18:09] jorgecuesta opened #284 "graphql-server-hapi don't forward route options properly."
Hi guys, I try to send some plugins options on:
`options.route = { plugins: { myPlugin: {} } }`

But you are doing:
[code]
With this result config just have your plugins settings because it replace my custom settings. Same things with pre: [].

Maybe if you use a merge like lodash can solve this little issue.

Best Regards,

[2017-01-26 18:14] jorgecuesta commented on #284
I replace Object.assign with Hoek.merge an it work perfect. Just need this replace and add require statement.
[code]

[2017-01-26 19:50] DxCx commented on #284
Hi @jorgecuesta Thanks for reporting! can you please submit a PR with a failing test and a fix, perferredly without an extra dependancy..

[2017-01-26 19:53] jorgecuesta commented on #284
@DxCx Thanks for quickly response. Don't worry about it. I have an old version v0.3.2 of apollo-server found on npm. Now I use graphql-server-hapi an this issue does not happen.

[2017-01-26 19:53] #284 closed

[2017-01-26 23:26] helfer commented on #279
Should I release?

[2017-01-27 10:30] semanser opened #286 "Error 400: Bad Request (message: Must provide document)"
Hi all. Previously have created the same issue in `apollo-client` https://github.com/apollostack/apollo-client/issues/1233, but @calebmer has mentioned that it could be `graphql-server` problem.
I have pretty simple graphql-server:

[code]

With `graphiql` tool everything working correctly: I can make requests and receive expected results. But when I am trying to send request with `apollo-client`,

[2017-01-27 17:45] helfer commented on #286
@semanser You need to pass resolvers into `makeExecutableSchema`, not into `graphqlExpress`. Apart from that, the error indicates that the query doesn't make it through to graphql-js.

[2017-01-27 18:46] semanser commented on #286
@helfer still doesn't work... Anyway, why is there two ways to pass resolvers? Which is more correctly?

[2017-01-27 21:29] PizzaBrandon commented on #175
I'm needing the same thing. I'll take this up.

[2017-01-27 22:33] PizzaBrandon commented on #175
Well, I spoke too early...

Based on how the mono repo was refactored, the options function still can't throw a `Boom` because it will get caught up in `runHttpQuery`. (https://github.com/apollostack/graphql-server/blob/master/packages/graphql-server-core/src/runHttpQuery.ts#L36)

It would require some duplication of code to pre-execute the options function in the `runHttpQueryWrapper` in the hapi

[2017-01-28 00:11] DxCx commented on #175
hi @PizzaBrandon since im not that familiar with Boom,
can you please submit a failing test so i can dig deeper?

[2017-01-28 08:57] DxCx commented on #286
resolvers key in makeExectuableSchema instad of calling addResolveFunctions...

[2017-01-28 09:09] semanser commented on #286
@DxCx thanks, changed. So currently my code looks like this, but I am still get the same error. Also the strange thing that with `graphiql` everything working correctly.

[code]

[2017-01-28 09:13] semanser commented on #286
In my opinion it can be problem with client side, not `graphql-server`. The reason is that I can send requests with `graphqli and receive correct responses. But when I use `ApolloClient` something goes wrong.

[2017-01-28 13:26] orefalo opened #287 "Conflict es6-shim and Typescript"
When I add '@types/es6-shim' to my dependencies, it creates the following issue:

[code]

If I remove '@types/es6-shim' to my dependencies, I get this...

[code]

below is my package.json deps:

[code]

I noticed by looking at the code of this project, that you are referencing es6-shim in the code.

Is there a way to remove that?

[2017-01-28 22:32] helfer commented on #286
@semanser I agree, most likely your client setup is wrong. Please reopen the issue there!

[2017-01-28 22:32] #286 closed

[2017-01-29 02:15] manuelfink opened #288 "Payload Too Large"
I just tried to fire a bunch of mutations against the graphql-server. This now throws an error `413 Payload Too Large`. How can I increase the payload?

[2017-01-29 02:25] manuelfink commented on #288
thought this is a problem of graphql-server however it is caused by bodyParser and resolved through `bodyParser.json({limit: '50mb'})`

[2017-01-29 02:25] #288 closed

[2017-01-29 09:54] DxCx commented on #287
hi @orefalo,
we already merged a PR removing es6-shim,
@helfer will be releasing a new version soon i believe and this issue will be solved for you.. :)

[2017-01-29 22:12] astanciu opened #289 "Manually run a query"
Is there an exposed method of running a query manually? With `graphql-server-express` queries are automatically executed through the request cycle, but sometimes it would be helpful to run GQL queries from within other parts of the app to get a full, joined, object that GQL produces.

[2017-01-29 22:53] orefalo commented on #287
Thank you ;-/   much appreciated.

[2017-01-29 22:53] #287 closed

[2017-01-30 15:05] mrlannigan opened #291 "Repo & NPM Version mismatch with lagging peer dependency"
I was installing the graphql-server-hapi@latest (0.5.2) with graphql@0.9.1 and the latest npm version doesn't match the current repo version. I'm specifically looking at the peer dependencies as the npm version doesn't allow ^0.9 graphql.

[2017-01-30 16:06] PizzaBrandon commented on #175
I was coding by inspection before and don't have a failing test at this time. I'll see if I can pull something together by the end of this week, otherwise I think this issue can probably be closed based on the above analysis.

[2017-01-31 07:42] DxCx commented on #175
alright cool thanks @PizzaBrandon  :)

[2017-01-31 07:57] DxCx commented on #291
np about that @mrlannigan
the fix for that is already merged to master and we are planning on releasing a new version today. ;)

[2017-01-31 07:57] #291 closed

[2017-01-31 08:00] DxCx commented on #289
hi @astanciu,
eventually, graphql-server is an network wrapper for graphql core function.
if you don't want to use it over network, you can just run it standalone:
[code]

function documentation can be found [here](https://github.com/graphql/graphql-js/blob/master/src/graphql.js#L19)

[2017-01-31 08:23] DxCx commented on #252
Closing cause lack of interest.
you may open again if you retry and still have an issue.

[2017-01-31 08:23] #252 closed

[2017-01-31 16:26] ephemer opened #295 "Use server's own graphiql package instead of from CDN"
_graphql-server_ currently [manages its own version of GraphiQL](https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-module-graphiql/src/renderGraphiQL.ts#L31) in package-internal code. Maybe I'm missing something but this seems unnecessary given we have npm/yarn.

Is there anything stopping us from serving the version of graphiql installed on the server, instead of

[2017-01-31 19:13] stubailo commented on #295
Ironically, we're actually ahead of `express-graphql`: https://github.com/graphql/express-graphql/blob/87fc6d527d0d8fe128130a26bef39e5be2b26da5/src/renderGraphiQL.js#L19

Anyway, I agree it would be a good idea to see if we can get it from npm, but that is a bit more complex because you need a build system, etc. Perhaps we can start by making a list of what we need to do to make this happen?

[2017-01-31 19:15] stubailo commented on #295
Oh lol I just realized you sent that PR. But yeah, we essentially copied that logic from `express-graphql`.

[2017-01-31 19:53] astanciu commented on #289
Perfect! Thank you!

[2017-01-31 19:53] #289 closed

[2017-02-01 02:46] #101 closed

[2017-02-01 08:17] DxCx commented on #289
you are welcome! :)

[2017-02-01 08:18] DxCx commented on #295
hi @ephemer,
i don't see why this is better then just serve from CDN..?
the thing is that to make it work from a package there is much work to be done,
and i can't the find the reason to invest time into that.. can you explain us please? :D

[2017-02-01 13:44] bryanerayner commented on #287
@DxCx when can we expect a new version? And what would be an appropriate roll-back version?

[2017-02-01 14:42] sveinburne commented on #48
`application/graphql` is mentioned in [the official guide](http://graphql.org/learn/serving-over-http/#post-request)

[2017-02-01 14:55] DxCx commented on #287
yep, already out @bryanerayner :)

[2017-02-01 14:59] orefalo commented on #287
Thank you! ;-)

[2017-02-01 20:15] helfer commented on #48
@sveinburne I would find it interesting to know why they recommend supporting those two use-cases. If there's a good reason for it, I wouldn't be opposed to adding the same functionality in graphql-server.

Right now I think it was a mistake to come up with "application/graphql", thus I don't think graphql-server should support it. After all, Lee Byron said himself that when you're thinking of add

[2017-02-01 22:36] stubailo commented on #48
Yeah there was a discussion on some graphql.org issue about removing that recommendation and I didn't find any concrete arguments for why it exists.

[2017-02-01 23:06] stubailo commented on #295
I think the main reason is to stay up to date with the newest version of GraphiQL, and not have to wait for the CDN url to be updated. Perhaps we can have an option in `renderGraphiQL` for the version number so that it can be increased manually when necessary?

[2017-02-02 00:39] DxCx commented on #295
yes @stubailo i agree with you, we can set default in const and pass another option.
great idea! :)
@ephemer what do you think of the solution?

[2017-02-03 04:19] marciobueno1 commented on #291
Today I installed graphql-server-express and it gave me this error:

graphql-server@0.3.2 requires a peer of graphql@^0.6.1 || ^0.7.0 but none was installed.

The installed graphql version is 0.9.1...

Probably the fix refered by @DxCx  wasn't released yet...

[2017-02-03 07:15] DxCx commented on #291
hi @marciobueno1,
the fix was released, however, `graphql-server` is deperecated...
please look at the instructions for the right package name ...

[2017-02-03 17:24] ephemer commented on #295
Oh yeah! That's easy and solves the problem, nice @stubailo

[2017-02-03 20:06] DxCx commented on #295
cool @ephemer can you please open another issue for implementing this and close this instead.
also if you want to submit the PR for the actual change, you are welcome =)

[2017-02-03 22:32] nfurfaro opened #298 "basic lambda starter-kit?"
Hi,
I'm trying to use graphql-server-lambda in my serverless framework service. It would be great if there were a simple starter file for a schema.js (and maybe a resolvers.js ) to go with the example graphql.js in the README for graphql-server-lambda.
I've been trying to piece this together from different sources but am having a hard time getting it to work.

[2017-02-03 22:45] soda0289 commented on #298
Try this: https://github.com/NeoReyad/graphql-lambda/blob/master/graphql.js

It is very basic but it is what I used to test it.

[2017-02-03 22:47] soda0289 commented on #298
Check your cloud watch logs for errors. There could be some bugs still or mis-configuration from the template.

[2017-02-03 22:48] nfurfaro commented on #298
Thanks! I will give it a go. Can you tell me if graphql-server-lambda
requires something like graphql-server-express with a server.js as well, or
does it work on it’s own?

On Fri, 3 Feb 2017 at 15:45 Reyad Attiyat <notifications@github.com> wrote:

[2017-02-03 22:51] soda0289 commented on #298
The graphql-server-lambda package is all you need to run the server in Lambda. There is no dependency on express or graphql-server-express. The API Gateway will take care of HTTP requests and responses for you.

[2017-02-03 22:52] nfurfaro commented on #298
Thank you for that.

[2017-02-03 22:57] nfurfaro commented on #298
in serverless.yml,  the path for the GraphQLInspector function is /Prod/graphql...
I don't quite understand the "/Prod" part as I'm currently deploying my "dev" stage.
Is it necessary?

[2017-02-03 23:05] soda0289 commented on #298
When you deploy with the stage name set to 'dev' all the api endpoints of the url will end in /dev/. In my example I used the stage name 'prod'. Not sure why the name started with a capital P. It could be that I used a different template the first time I deployed.

The GraphQLInspector will submit ajax requests to itself and needs to know the url of the api. This is why I had to set 'endpointURL'

[2017-02-03 23:06] nfurfaro commented on #298
great, thanks for the help.

[2017-02-04 00:21] helfer commented on #295
This would be a great project for contributor week btw :wink:

[2017-02-04 00:22] helfer commented on #253
Maybe @Poincare can tune in here? It seems like this is mostly done as far as I can tell!

[2017-02-04 04:57] bryanerayner opened #299 "Discussion / Request for Proposal - Enabling Authentication Headers in GraphiQL"
Presently, it is possible to add authentication headers to the GraphiQL client via the `passHeader` option.

example (from #133)
[code]

This feature has not been documented, for good reason; It's a hacky injection of code via a template string, that could easily be abused if it were well publicised.

I don't think there's much wrong with the current implementation, provided that developers are ok

[2017-02-04 15:38] nfurfaro commented on #298
@soda0289
I got it working,  thanks!

[2017-02-04 22:55] jferrettiboke commented on #118
@stubailo

The Repository Pattern should be used to communicate with its Model. So, if you need more than this, you can use the Service Pattern. A service can use other services without being worried about the model. `Service <-> Repository <-> Model`

This can scale well, however if the app is small you might over-engineering the app with many layers of abstraction.

[2017-02-04 23:25] jferrettiboke opened #301 "Uploading files with Multer"
Hi everyone!

I am trying to uploading files with Multer through GraphQL. There are two ways to go.

1. Uploading files in a single no-GraphQL endpoint or using Multer like Express middleware.
2. Uploading files using Multer inside a specific GraphQL resolver function.

For the first approach any file can be uploaded using `.any()` (Multer), which is fast but it is not possible to make specific va

[2017-02-05 06:33] smolinari commented on #301
Have you seen this?

https://github.com/jangerhofer/apolloFileUpload/blob/master/server/main.js

Also, are you using apollo-client? If you are, have a look at [this issue](https://github.com/apollographql/apollo/issues/65).

Scott

[2017-02-05 12:33] jferrettiboke commented on #301
Thanks @smolinari.

Note in the code that I would like to use Multer inside GraphQL resolve functions, not using a single endpoint or middleware before calling `graphqlExpress()`. The example you gave me is using Multer like a Express middleware before calling GraphQL.
I think my approach is worth because I do not miss the validation rules with Multer, so I can set different validation rules depen

[2017-02-05 12:48] jferrettiboke commented on #229
The method proposed by @HriBB is great, however you are missing some features like Multer validation rules. In [this example](https://github.com/HriBB/graphql-server-express-upload) made by @HriBB, Multer is used one time like Express middleware before calling GraphQL.

IMO, is better use Multer inside each GraphQL resolve function. If you use this way, you will be able to setup different validati

[2017-02-05 20:46] sorenbs commented on #229
That's a great point @jferrettiboke Do you think this is something that it would make sense to tackle during the Apollo Contributor Week? https://dev-blog.apollodata.com/save-the-date-apollo-contributor-week-eef66d09f0e6#.pj0yj67qu

[2017-02-05 21:06] jferrettiboke commented on #229
Hi @sorenbs.

Yes. I think so. There are different use cases where developers have to validate the files before upload them (extension and size) depending of the resource (user photos, user videos, etc).
If developers use only one endpoint which accepts any file, they could not write specific validation rules for each files as I said.

Anyone could help on the issue I mentioned to bring another ap

[2017-02-06 14:08] ivosabev commented on #34
Its 2017 any status updates?

[2017-02-06 16:09] paralin commented on #34
http://github.com/rgraphql

[2017-02-06 20:33] #298 closed

[2017-02-06 20:34] DxCx commented on #298
@soda0289 would you mind share what was your issue so others can learn in the future?

[2017-02-06 20:47] wmertens commented on #272
Very nice!

I wanted to point out one extra advantage of using ws for graphql: Since the connection remain live for a long time, you only need to verify the user session once, so that saves on a bunch of database lookups.

[2017-02-06 21:23] NeoPhi commented on #272
Keep in mind you have some other mechanism to invalidate the WebSocket connection should the user's session become invalid for some reason.

[2017-02-07 01:27] nfurfaro commented on #298
I have not yet got the grapiql GET endpoint to work yet, but am able to use Graphiql with the primary GET endpoint.
 I used the file that @soda0289 posted a link to here
https://github.com/NeoReyad/graphql-lambda/blob/master/graphql.js
As was mentioned, it includes a very simple starter schema and resolvers, which was just what i was looking for.

[2017-02-07 01:59] soda0289 commented on #298
I will look into the graphql GET endpoint not working. The problem is that it is not calling the lambda function when query parameters are passed into it. You have to manually add them to the api gateway to have them accepted and passed through. Might have to define a swagger file for deployment to work with cloud formation. Will look into later in the week.

[2017-02-07 02:03] nfurfaro commented on #298
Just to be clear:
The /graphiql (GET) endpoint is not working for me. but the /graphql (GET) endpoint works.
It coiuld easily be something I'm doing wrong though.

[2017-02-07 02:17] soda0289 commented on #298
Oh. I was having issues with the /graphql GET endpoint, but could be my stack was messed up, but the /graphiql GET endpoint worked fine. Do you know if the lambda function is being called at all? Is it producing the html?

[2017-02-08 15:20] AshleyAitken commented on #4
I am interested in this as well.  We have multiple subsystems each with a current REST Query API.  Then there is a Gateway that has the public client REST Query API.  The Gateway can do integration across the REST Query APIs.

I think it would be great if we the Gateway could be a GraphQL server that aggregated the schemas from each subsystem GraphQL server.  Clients using the Gateway GraphQL endp

[2017-02-08 15:51] jnak commented on #4
Coursera mentioned a similar approach in their graphql talk. I think this is THE missing piece in a micro-service architecture:
- It allows to decouple as much as one possibly can individual services
- it encapsulates all domain logic in each service (authentication, permission, etc...)
- and it exposes one unified graph (which is major pain point of traditional micro-services architecture).

If a

[2017-02-08 17:47] DxCx commented on #272
Hi,

I've tried to review how can i support the current subscription manager for the new approach.
the best thing i could think about is to add another key named `engine` to the options.
so,  when the options returned it will have it

[code]

the idea is to do the new in a static location and not inside a callback which calls every time ofcourse.

this way we can support this approach for legacy u

[2017-02-08 19:30] nfurfaro commented on #298
i'm not using the graphiql endpoint at all now. Have switched to using https://github.com/bencooling/serverless-plugin-graphiql
for my local development.

[2017-02-09 12:43] ejaxon commented on #4
This is something I might be interested in working on when we hit the need - at the moment we're building just the one API, but I expect we'll get there.

As a side note, we're building some data infrastructure where the base-level GraphQL API is actually automatically generated from metadata - curious if anyone else is doing anything like this. Just did an [article on Medium](https://medium.com/d

[2017-02-09 15:22] NeoPhi commented on #272
@DxCx I'm having a little trouble fitting the pieces together. I presume the need for this would be to support `@live` like directives. How would the `engine` be accessed or used?

[2017-02-09 17:48] DxCx commented on #272
Well, the engine should export a reactive execution function. Which gets the same parameters as execute but returns an observable interface.

Usig this aproach, in the future we can write an executaion engine that supports the reactive directives, for now only subscription will be supported by the same interface as subscription manager as i exampled above

[2017-02-09 23:14] helfer commented on #272
I like most of your proposal here @DcCx. 🙂

I think it's fine to keep the same interface for the websocket server as we did for the other servers until we see a need to change it.

For the websocket protocol, I agree with @NeoPhi that we should just extend (and maybe harmonize) what we already have for subscriptions. So messages both to and from the server should have `{ id: <operation id>, type:

[2017-02-10 00:28] helfer commented on #34
@ivosabev we're working on websocket integration in #272, which is the first step in this direction.

[2017-02-10 00:36] matt-way opened #303 "graphqlExpress options function mistakes fail silently"
If you do something like this,

[code]

any calls to the server fail silently. Client just receives 500.

[2017-02-10 01:31] helfer commented on #4
I'm working on a small demo for this exact thing. I'll let you guys know if I have something to show.

[2017-02-10 01:56] helfer commented on #303
@matt-way The server throws an error here: https://github.com/apollographql/graphql-server/blob/bbe12af4574871836604c1be1320ebab586ccbb4/packages/graphql-server-core/src/runHttpQuery.ts#L37

How you want to deal with that is up to you. You could log it to the console with an express middleware for example.

[2017-02-10 01:56] #303 closed

[2017-02-10 04:05] matt-way commented on #303
Sorry, my bad, missed that it wasn't being caught. Thanks for the reply.

[2017-02-10 23:22] rogchap commented on #4
We have a micro-services architecture; we've built a graphQL endpoint for our apps to access (public) and then connect to a number of other services for varying things.

We needed to build a new internal (private) service; we built this as another graphQL endpoint and used apollo-client on the server.

This is working really well for us, I just love working with GraphQL over REST, and thanks to ap

[2017-02-11 01:26] AshleyAitken commented on #4
The question for me is: Assuming we have a number of microservices with GraphQL APIs, how can we best implement a Gateway GraphQL API that offers queries across all the microservices?

It seems that automatically merging GraphQL schemas isn't too difficult (if that is what you wish to do and excepting namespace issues) https://github.com/graphql/graphql-js/issues/223 and we have a tool to help htt

[2017-02-11 03:03] Poincare commented on #253
This thing is done - see [blog post here](https://dev-blog.apollodata.com/persisted-graphql-queries-with-apollo-client-119fd7e6bba5#.uo4upqcs3). Maybe we can build better support for it within `graphql-server`.

[2017-02-11 03:03] #253 closed

[2017-02-11 03:05] Poincare commented on #245
Yup, this is entirely dependent on the type of HTTP request. See the [HTTP 1.1 RFC](https://www.ietf.org/rfc/rfc2616.txt) (specifically Section 13, which describes caching correctness) for more details on when HTTP caches will cache the request.

[2017-02-11 03:05] #245 closed

[2017-02-11 05:36] smolinari commented on #4
I'm going out on a limb here, and continuing on Ashley's thinking, but there would seem to be a need here to basically prune (or copy) parts of the graph for each microservice, right? So, to define the microservice, we'd need

1. An automation to prune/ copy the branches of the graph (probably more like a single branch) of the graph for each microservice.
2. To change the resolver to hit the new m

[2017-02-11 08:51] lnmunhoz opened #304 "error: "Cannot POST /undefined?" on graphql interface"
I followed all the steps on the tutorials but cannot understand why my graphql interface is giving the error `Cannot POST /undefined?`.

I created a simple repository to showing the bug https://github.com/lnmunhoz/graphql-server-issue-304.

[2017-02-11 09:53] DxCx commented on #304
my guessing will be
https://github.com/lnmunhoz/graphql-server-issue-304/blob/master/index.js#L10
note that it should be `endpointURL`.
you couldn't know that if you would've used typescript instead of plain javascript ;)

[2017-02-11 09:56] lnmunhoz commented on #304
@DxCx Thank you!

[2017-02-11 09:56] #304 closed

[2017-02-13 14:07] ephemer commented on #295
@helfer sure, we have a deadline this week so I don't think I'll get to it but I'd be happy to give it a shot when I have a bit more time on my hands

[2017-02-14 11:13] batjko opened #305 "Document validationRules option"
Currently, all the [documentation](http://dev.apollodata.com/tools/graphql-server/setup.html#graphqlOptions) tells us is that you can pass an array of functions to the `validationRules` option, e.g. of graphqlExpress.

I couldn't find any place as to how those functions work, i.e. what is their input and required output etc.

I found this test that appears to show one possible scenario:
https://gi

[2017-02-14 18:32] stubailo commented on #305
@batjko query validation is definitely not the right place to do permissions logic. Validation is a well-defined step in GraphQL execution as defined by the spec, which is only supposed to check if the query is a valid query string.

To put it a different way, the expectation is that a query only needs to be validated once for all users, so the validation outcome shouldn't change per user.

[2017-02-14 20:45] batjko commented on #305
Ah, that explains the lack of documentation. I suppose it's not obvious to me what part of Apollo's various packages' APIs are essentially handed through from graphql-js.

Ok thanks for clearing that up, @stubailo. I'll stick the auth logic into the resolvers then.

[2017-02-14 20:46] #305 closed

[2017-02-15 15:00] NeoPhi commented on #272
@DxCx Thinking more about sending diffs, I would suggest using an implementation that adheres to [RFC6902](https://tools.ietf.org/html/rfc6902). There are many conforming implementations which would give the server and client a choice of the implementation to use.

[2017-02-15 19:14] DxCx commented on #272
nice! thanks @NeoPhi i didn't know this format,
well if there is a diffing format for JSON then i totally agree with you this is the one we should use.
i want initially to release the first version without any diff, and then later on i'll add it 👍

[2017-02-16 15:44] DxCx opened #306 "tests spits out console.error"
during tests, there are prints like `Error in formatError function: Error: I should be catched`
which are printed to console.
we should add hook that enusres there are no "unhandled errors" during tests,
so:
 1.console.error won't be spited to screen, instead it should be captured to an array.
 2.each test can run `handleErrors((errors) => expect(....))` which will clean the array and let the user

[2017-02-16 15:53] DxCx opened #307 "/* istanbul ignore next */ is not working"
because tsconfig.json now has `removeComments: true` istanbul does not get ignore next comment.
we need to remove it from main tsconfig.json and add another npm script that will run compile with removeComments.

[2017-02-17 22:46] ericclemmons opened #309 "Slow response times with response.data"
Originally posted here:

I'm trying to resolve some performance issues with `graphql-server`, but this is the core of the issue:

[code]

**2s - 4s** response time.

Even if I use `formatResponse(response) { return [] }` to pretend nothing came back , it's still a problem somewhere before `formatResponse`.

[code]

**106ms** response time.

In the resolver, If I do:

[code]
And then use `formatRes

[2017-02-18 03:00] ericclemmons commented on #309
@poeticninja just pulled my code and found that it looks to be `graphql` (https://github.com/graphql/graphql-js) that is taking 3-4 seconds.

[code]

I'm going to move this issue there, as I believe the **performance degradation is due to the whitelisting of requested fields**.

[2017-02-18 03:00] #309 closed

[2017-02-21 09:39] jaydenseric commented on #301
@jferrettiboke did you get it to work in the end?

[2017-02-21 14:26] jferrettiboke commented on #301
Hi @jaydenseric. No, yet. Do you have some ideas?

[2017-02-21 23:30] jaydenseric commented on #301
Yea, I'll try to get everything working and publish it sometime soon.

[2017-02-22 14:50] bryanerayner opened #310 "Should the HAPI route also be specifying OPTIONS as a valid method?"
I have been running into an error with HAPI and CORS.

https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-hapi/src/hapiApollo.ts#L59

Should OPTIONS also be specified here? Apollo client makes an OPTIONS request and I am continuing to receive 400 errors when attempting to do mutations. Queries work fine however.

Thanks

[2017-02-22 22:00] rnenjoy commented on #34
Sorry for the dumb question. But why do we need a websocket integration? Why cant the transport method that already exists as a standalone package be used?

[2017-02-22 22:03] helfer commented on #34
@rnenjoy we will probably only have one transport in the end that supports subscriptions and queries, but we're doing the work here to figure out what that should look like without complicating the subscriptions transport implementation.

[2017-02-24 00:23] helfer commented on #299
@bryanerayner Rather than documenting the hacky solution, I think it would be better to recommend using Apollo Client developer tools for this purpose, which will use the network interface in Apollo Client and add the headers usually sent along with the request. Would that work for your use-case?

[2017-02-24 14:10] majodev commented on #299
Hi, it would be cool if we can still provide a way to do this (in a safe way), without requiring the installation of a special Chrome-only developer tool (Apollo Client developer tools). This way, non Web-Teams (e.g. native iOS/Android) can consume a secured documentation endpoint without much fuss.

Currently, we are authenticating the graphiQL endpoint through basic-auth (all other endpoints wor

[2017-02-25 05:32] helfer commented on #310
@bryanerayner I believe you need to turn on cors. See the docs here: https://hapijs.com/api/3.0.0#server-options

[2017-02-25 05:32] #310 closed

[2017-02-27 07:41] DxCx commented on #299
@majordev hey,

Once the websocket work is done, i want to rebuild the graphiql module so it will bundle inline using webpack,
(The current implementation style (using cdn) will be renamed to graphiql-cdn)
This way, people can replace the graphiql implementation using the existing fetchers.
Ive already seen a modified version of graphiql where the headers can be provided from ui, so you will be ab

[2017-02-28 02:42] thisbejim opened #312 "Creating a generic filter argument"
How might you implement filters with graphql-server in a way that is similar to how [Graphcool does it](https://www.graph.cool/docs/reference/simple-api/filtering-by-field-xookaexai0)?

For example, if you want to perform a filter like this:
[code]

How might I define a generic filter type that can be used across queries that accepts an arbitrary number of properties that can each be of [any value

[2017-02-28 04:40] stubailo commented on #312
Yeah I bet Graphcool is just generating a filter input type for everything separately. I wouldn't really suggest doing this in a hand coded API so that you can optimize specific filters that you know you are going to use.

[2017-02-28 05:53] thisbejim commented on #312
Awesome thanks @stubailo 👍

[2017-02-28 05:53] #312 closed

[2017-02-28 21:47] jayhuang75 commented on #267
I'm in the same investigation, any idea where we can find some tutorials for understand clear the architecture? Thanks

[2017-03-01 13:15] NitroBAY commented on #291
npm WARN apollo-server@0.3.3 requires a peer of graphql@^0.6.1 || ^0.7.0 but none was installed.

[2017-03-01 13:21] NitroBAY commented on #243
@helfer why do I still have `npm WARN apollo-server@0.3.3 requires a peer of graphql@^0.6.1 || ^0.7.0 but none was installed.` ?
Please also see the #291

[2017-03-01 15:27] DxCx commented on #243
@NitroBAY,
You are using pretty old apollo-server,
Today, you should install the specific server package you need, for example, if you are using express, then install 'graphql-server-express'
More info is in README.md :)

[2017-03-01 15:36] NitroBAY commented on #243
Okay, I was following [this](https://blog.meteor.com/create-a-simple-hello-world-app-with-meteor-and-apollo-64bab66a456f#.hto87me9e) tutorial. It asked to install apollo-server. BTW if you're in the team who wrote the tutorial please note that `export default PostsContainer = 'WHATEVS'` surprises me. It doesn't work as we can `export default 'WHATEVS'` but we cannot `export default variableName =

[2017-03-01 17:23] edoroshenko opened #313 "`graphqlExpress` swallows an error thrown in a resolver"
In express application when my resolver throws an error, `graphql-server-express` hangs. It doesn't respond and doesn't throw an error.

I've dug a little and it looks like I've found the reason. The error thrown here: https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-express/src/expressApollo.ts#L40 will not be caught and will not be passed through, because `expr

[2017-03-08 10:05] kkpoon opened #315 "graphql-server-lambda does not able to config CORS origin"
While serving GraphQL on AWS Lambda via API Gateway,
the graphql-server-lambda not able to response with `access-control-allow-origin` in header

This makes the ` graphql-server-lambda` unable to serve CORS.

[2017-03-08 14:26] soda0289 commented on #315
The graphql-server does not create CORS requests for any integration you have to handle them yourself.

For API gateway you should be able to enable CORS following the instructions here:
http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-cors.html

I have not tested this myself so I'm not 100% sure if it will append the correct header on output. I think it will create the OPTIONS m

[2017-03-08 20:24] greenkeeper[bot] opened #316 "An in-range update of @types/node is breaking the build 🚨"
## Version **7.0.6** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/graphql-server/compare/greenkeeper%2F%40types%2Fnode-7.0.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <t

[2017-03-09 01:04] kkpoon commented on #315
@soda0289
In API Gateway, when I enable the CORS to the endpoint, it helps me to create an OPTION method which mock to response http 200 with CORS header.

However, for the actual request to lambda, the corresponding CORS header should be set by the lambda function.

the code block provided by you works for me. And I think this solution is good to be documented in `packages/graphql-server-lambda/R

[2017-03-09 01:53] soda0289 commented on #315
I will look into updating the documentation. There have been a couple questions on how to read and modify headers from the handler. We might want to add CORS as a feature of server itself but that could be out of the scope of this project.

[2017-03-09 16:39] papandreou commented on #217
Hmm, I'm not sure I follow that. The `application/graphql` Content-Type is already "out there" and used in tutorials, and express-graphql supports it. It'll probably be brought up here again and again.

I found that using `application/graphql` is really neat when writing tests is nice because:

* I don't need really need variables in tests, it's easier to read my test cases when the values are dir

[2017-03-09 16:51] papandreou commented on #217
Here's what my tests look like:

[code]

And here's the output I get when a test fails:

![error_output](https://cloud.githubusercontent.com/assets/373545/23760758/f467c334-04f0-11e7-8938-badd12a96363.png)

[2017-03-09 17:29] stubailo commented on #217
Sounds good, we still don't think it's a good idea for a GraphQL server to accept more content types than it needs to though. I'm happy that there is a middleware workaround!

[2017-03-09 19:36] eudaimos commented on #231
@AlexLeung I wanted to resurrect this for those who come across it - Koa has released v2 as `2.1` and is no longer using the `@2` and `@next` tags (although those still work as of today and point to the correct `master` versions now) for _most_ of the packages **except** `koa-router` for which to make this work will need to use `@next` in order to get version `7`+
_I had to learn this one the hard

[2017-03-10 02:12] helfer commented on #217
@papandreou I'm pretty sure there's also an option you can pass to `bodyParser` to let you do this.

[2017-03-10 03:16] ryancole opened #317 "How to return an array of errors from a mutation?"
It looks like the response payload for a failed mutation (or query) contains an array of errors. I assume it supports more than one error in a single response. I can't figure out how to return an array of errors from my mutation resolver, though. I've tried returning an array of literal `Error` instances, but that doesn't seem to work.

Is this possible?

[2017-03-10 04:01] willxy commented on #217
Fwiw, when I switched the other week from `express-graphql` and missed the support for `application/graphql` (for me, it was easier for generating test queries from bash/curl), what seemed to do the trick for me was essentially:
[code]

[2017-03-10 04:03] helfer commented on #317
No, it's not possible. Each resolver can only throw one error. The reason errors is an array is that multiple resolvers may throw errors during the execution of a single query. You could either return a custom error in your case, or you can make the error part of the return type by using a union (i.e. returning either the result, or an error inside the `data` field).

[2017-03-10 04:03] #317 closed

[2017-03-10 04:04] helfer commented on #217
@papandreou what @willxy did is exactly what I was referring to. A much simpler solution than writing a custom middleware! 🙂

[2017-03-10 07:29] papandreou commented on #217
@willxy @helfer Thanks, guys! I had no idea that body-parser could do that. That's indeed much simpler. You should add it to the README so users won't keep asking for direct `application/graphql` support :)

[2017-03-10 07:32] helfer commented on #217
@papandreou that's a great idea about adding it to the docs! You wouldn't mind making a PR, would you!? :pray:

[2017-03-10 09:41] papandreou commented on #217
@helfer Sure thing: https://github.com/apollographql/graphql-server/pull/318

[2017-03-11 01:51] greenkeeper[bot] opened #321 "An in-range update of @types/mocha is breaking the build 🚨"
## Version **2.2.40** of [@types/mocha](https://www.npmjs.com/package/@types/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/graphql-server/compare/greenkeeper%2F%40types%2Fmocha-2.2.40">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/mocha
    </td>
  </tr

[2017-03-12 00:17] dupski opened #322 "Ability to disable introspection"
Hi Guys - awesome project!

For developers that want to use graphql-server for private APIs that are exposed publicly (e.g. for mobile app APIs, etc). It would be good to be able to disable the `__schema` query endpoint in production.

Would you consider adding a `disableIntrospection` option?

[2017-03-13 04:43] rkstar commented on #4
@rogchap how did you implement apollo-client on the server?  i'm interested in this too!  i have a web server that i need to get connected to my data api via graphql instead of having to set up rest endpoints for server->server data calls.

my current option is to hit the db directly from my web server to do some things and let the client hit the graphql server for everything else.  it seems kind

[2017-03-13 09:44] rogchap commented on #4
It's very simple, we use graphql on an internal server and use apollo client on the other server. Although this does work, I'd recommend gRPC too. We're planning on refactoring to use gRPC for server-to-server and graphQL only as the public facing API

[2017-03-14 06:58] clock157 opened #323 "[graphql-server-hapi] how can i get hapi's request object in resolvers?"
I want use some headers in http request,
but i cant find any way get the request header in resolvers.

[2017-03-14 16:26] Aurelsicoko commented on #323
Maybe, you should try something like this?

[code]

[2017-03-15 02:41] clock157 commented on #323
thank you @Aurelsicoko ,It's works.

[2017-03-15 02:41] #323 closed

[2017-03-15 05:10] tonyxiao opened #324 "Support for micro as a server"
https://github.com/zeit/micro

GraphQL is just a single endpoint, which makes it super nice to just support micro as server option.

[2017-03-16 06:54] linonetwo commented on #259
When will these directives become available?
I've heard about them for quite a time.

[2017-03-16 13:57] eddyerburgh commented on #126
If anyone wants to see this in a working project - https://github.com/eddyerburgh/express-graphql-boilerplate

[2017-03-16 22:27] nnance commented on #324
@tonyxiao @helfer I plan to have a PR for this shortly.  I have this already built just need to merge it some recent changes to master

[2017-03-16 23:40] stubailo commented on #324
Awesome!

[2017-03-19 01:10] fabiospampinato opened #326 "Why stripping out non enumerable properties from the context when batching?"
Using [Passport](http://passportjs.org), I wanted to implement a `login` mutation. Passport adds a `login` function to the `req` object, so I thought that using the `req` object as the context of my resolvers should be enough for having access to it from the mutation.

Unfortunately I tried to access `context.login` from the mutation and I got `undefined`.

Surprised enough I dag into `graphql-ser

[2017-03-19 02:27] jangerhofer commented on #315
@soda0289 Thanks for linking me over -- I missed this issue in my initial search for information.  I think your sample above is a good solution, as it keeps the signature as simple as possible for those not worried about custom headers.

Before I posted in the other issue, I read through most of the [developer documentation](http://dev.apollodata.com/) and saw only a few indirect references to COR

[2017-03-19 03:22] soda0289 commented on #315
@jangerhofer Sure if you have some free time I'd be happy to review an update to the documentation. Are you thinking to update the graphql-sever-lambda README or the https://github.com/apollographql/tools-docs ?

[2017-03-19 04:59] DxCx commented on #326
Hey @fabiospampinato,
The true intention of this line is to duplicate the original context given, so if one of the resolvers changes it it wont hold.
Please try to pass req as a member of context and not context itself :)

[2017-03-19 05:44] soda0289 commented on #307
I think a good way to solve this is to use the newer nyc tool. https://github.com/istanbuljs/nyc
It allows for requiring in code, such as ts-node or babel polyfills, before code coverage is run. I have tested this out and we should be able to set removeComments to false for code coverage.

I can submit a PR with this change.

[2017-03-19 07:37] DxCx commented on #307
cool i didn't know there is a new tool :)
yes, please submit a PR thanks :)

[2017-03-19 17:52] fabiospampinato commented on #326
Being a shallow copy it doesn't really prevent a resolver from mutating it, and doing a deep copy is probably too expensive, perhaps just discouraging developers from mutating it would be enough.

Thanks you.

[2017-03-19 19:30] soda0289 commented on #307
#327 We have an issue with dependencies that are precompiled and included as node_modules. Still need to so more testing.

[2017-03-19 21:49] DxCx commented on #326
well, yes, you are right, the resolver can modify the inner keys and we are fine with that.
the intention is not to pass the user object as is so the context itself won't be modified.

[2017-03-19 21:49] #326 closed

[2017-03-20 08:49] DxCx opened #329 "Need to fix Koa integration tests on Node v4"
KoA integration tests are broken on node 4. seems like koa uses es6 features.
we need to dig deeper to understand what was changed exactly, and make sure that the latest supported koa for node 4 i supported by us as well.

Temporary W/A which just disables Koa tests on node v4: #328

[2017-03-20 12:09] DxCx commented on #272
hey @helfer
i wanted to test compatibility between the existing websocket implementation and this one here,
they are not exactly the same:
1. Message names are not exactly the same:
[code]

2. `subscription_start` doesn't hold query & variables inside payload, but as a key in the root.
3. there is no `subscription_success` for `graphql-server-ws`
4. there is no `complete` (No more data from server

[2017-03-21 02:28] soda0289 commented on #315
@kkpoon @jangerhofer

I finally got around to updating the AWS Lambda README.
https://github.com/apollographql/graphql-server/pull/330

Let me know if you think we need more details. We still might need some more documentation on the tools website but I don't have time this week to do an update.

[2017-03-21 15:45] gajus opened #331 "Make graphql-server-core runHttpQuery output formatter configurable"
I want to format JSON to the browser, i.e. I need to modify the JSON thats being sent to the browser (not the object itself, but an actual JSON thats being sent to the browser).

Specifically, I want to use https://github.com/kawanet/msgpack-lite to communicate between client and the server.

How do I intercept the response logic?

[2017-03-21 15:48] gajus commented on #331
Looking at the [source code of `graphql-server-express`](https://github.com/apollographql/graphql-server/blob/37ae74c5fefe6032838d4afed6d7dc4018055d06/packages/graphql-server-express/src/expressApollo.ts#L19-L54), it appears I don't need to use it at all, and I should simply be using `runHttpQuery` from `graphql-server-core`.

[2017-03-21 15:59] gajus commented on #331
Looks like this behaviour is hardcoded into `graphql-server-core`.

https://github.com/apollographql/graphql-server/blob/37ae74c5fefe6032838d4afed6d7dc4018055d06/packages/graphql-server-core/src/runHttpQuery.ts#L153

[2017-03-21 16:45] nenti opened #332 "Error GET/POST requests missing with Lambda Handler"
I'm running into an Error running this plugin with a serverless setup as follow:
[code]

There seems to be missing a proper handling of API-Gateway + Lambda setup.

[2017-03-21 17:58] soda0289 commented on #332
Can you post some code to reproduce the problem. I have not tested it with serverless but it should work as expected.

What error are you getting? Is it in cloudwatch or with serverless deploy?

[2017-03-21 18:05] soda0289 commented on #332
Taking a look at your config you might be using the incorrect integration.  Delete the line `integration: lambda` as the default is lambda proxy and you have it set to lambda, which I don't think are the same.

[2017-03-21 18:06] soda0289 commented on #332
You can also explicitly set `integration: lambda-proxy` as that should work as well.

[2017-03-21 19:17] soda0289 commented on #331
I think msgpack can encode strings they have an example on the README for command line that does this.

[2017-03-22 03:33] chrishiste opened #333 "Lambda server : Internal server error"
Hello, I'm trying to use the lambda server but it doesn't work, when I go on my API Gateway url it sends back :
[code]

Here is my server.js file. It's really basic so I don't think something is wrong here but maybe. I use babel before uploading to lambda.
[code]

The logs in AWS say :
[code]

I'm almost sure my API Gateway is well configured because I tried using lambda-graphql (https://www.npmjs

[2017-03-22 12:57] DxCx commented on #329
from koa's offical github: `Koa requires node v7.6.0 or higher for ES2015 and async function support.`
do we want to split packages for koa 1 & koa 2?
koa 2 removed support for node 4&6.
if not we should just disable testings for node 4&6.

[2017-03-22 12:58] DxCx commented on #329
@helfer

[2017-03-22 13:40] soda0289 commented on #333
@chrishiste

The error message `Execution failed due to configuration error: Malformed Lambda proxy response` means the lambda function did return a correct response. Lambda proxy integration must return a json object of the form:
[code]

http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-set-up-simple-proxy.html#api-gateway-simple-proxy-for-lambda-output-format

To get some d

[2017-03-22 13:44] nenti commented on #332
Nice! That seems to have fixed it for me. Maybe you could add that to your example cloudformation config. This would have saved me hours of frustration. 👍

[2017-03-22 13:47] soda0289 commented on #332
I will add another example for serverless as it seems to be the more popular choice.

[2017-03-22 13:55] soda0289 commented on #329
We could use babel with babel-register to compile the code on the fly before execution. Koa mentions this in the README:
https://github.com/koajs/koa#babel-setup

[2017-03-22 14:09] DxCx commented on #329
as much as i know apollo doesn't want to use babel,
they want the code to be supported by node 4+ as is.
we already had failing releases because testing was done using node 4 =\

[2017-03-22 14:32] nenti commented on #332
You can use mine if you want:
`functions:
  api:
    handler: graphql.graphqlHandler
    events:
    - http:
        path: graphql
        method: POST
        cors: true
        integration: lambda-proxy
    - http:
        path: graphql
        method: GET
        cors: true
        integration: lambda-proxy

  graphqli:
    handler: graphql.graphiqlHandler
    events:
    - http:
        path:

[2017-03-23 01:56] hckhanh opened #336 "Cannot use graphQL server with express router"
I have a demonstration like this:

[code]

When I try to move the server from **app** to **router**. It cannot run correctly. I means I move the api from **/graphql** to **/api/graphql** using router in express. It's return 404 code.

[2017-03-23 02:08] helfer commented on #336
@hckhanh Apollo Server is just a normal Express middleware. I think this is more likely to be an issue with your setup or with Router.

[2017-03-23 02:17] hckhanh commented on #336
I think my implementation is fine. When I use express-graphql in my router, it runs smoothly.

[2017-03-23 02:42] hckhanh commented on #336
Now I am find out my mistake. The endpointURL is not correctly 🗡
It should be:

[code]

Apologize for my bad 😢

[2017-03-23 02:42] #336 closed

[2017-03-23 08:45] chrishiste commented on #333
@soda0289 Amazing ! Something more important came up at work but I will try and keep you updated when I'm back on it ! Thanks

[2017-03-24 06:57] helfer commented on #329
This is indeed a little bit annoying. I think the best path forward is as @DxCx suggested: disable Koa tests on node 4 and support only Koa 2 going forward.

[2017-03-24 09:43] DxCx commented on #329
Yeah im sorry that was node 7..
You need both async and es2015

[2017-03-24 11:27] greenkeeper[bot] opened #337 "An in-range update of remap-istanbul is breaking the build 🚨"
## Version **0.9.2** of [remap-istanbul](https://github.com/SitePen/remap-istanbul) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/graphql-server/compare/greenkeeper%2Fremap-istanbul-0.9.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      remap-istanbul
    </td>
  </tr>

[2017-03-24 13:18] gajus opened #338 "Use debug for logging"
Avoid defining custom log handlers, e.g. https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-core/src/runQuery.ts#L65

There are purpose built libraries that enable better DX by unifying the logging experience, e.g. https://www.npmjs.com/package/debug

[2017-03-25 02:36] stubailo commented on #338
Paging @thebigredgeek!

[2017-03-25 20:27] thebigredgeek commented on #338
Yeah I think this might be worthwhile.  It's what every other lib seems to use in Node haha

[2017-03-25 21:17] stubailo commented on #338
Migrating this to `debug` seems reasonable to me!

[2017-03-26 18:39] thebigredgeek opened #339 "Add implementation for Micro"

[2017-03-26 21:47] thebigredgeek commented on #338
@stubailo we might also want to consider using debug in `apollo-client` for log and error output

[2017-03-28 19:17] thebigredgeek commented on #324
Woot!  I am happy about this.  Can we get this merged ASAP?  I am writing a piece of content RIGHT NOW and would like to use Micro for it

[2017-03-28 19:20] thebigredgeek commented on #339
Whoops!  Name was wrong haha.  This is a duplicate of https://github.com/apollographql/graphql-server/issues/324

[2017-03-28 19:20] #339 closed

[2017-03-30 17:44] christophercliff opened #344 "Should suppress console.error "Error in formatError" when not in debug mode"
This appears to be inconsistent behavior but maybe I'm missing something. See line: https://github.com/apollographql/graphql-server/blob/e6f09c01bed12f8b3bb2b3c28383786b7c45dfe9/packages/graphql-server-core/src/runQuery.ts#L77

Reproduce: Start a server with `debug: false` option, throw an error in your `formatError` method.
Expected: No logging.
Actual: Logs the error.

[2017-03-31 07:45] ramanacv opened #346 "Support for apollo-client 1.0"
Apollo client has been revved to 1.0. Can this server be updated (code changes) or dependency to be able to work with 1.0 client ?

[2017-03-31 08:04] DxCx commented on #346
do you have any specific issue? the two should work togather at the moment...

[2017-03-31 10:25] theboolean commented on #313
Another approach could be to return `runHttpQuery` instead of nothing, to handle the rejection of the promise

[2017-04-02 00:42] jamesreggio commented on #176
I'm a little skeptical that parallel execution is a one-size-fits-all solution for batched mutations.

We have a simple app that has a `like` and `unlike` mutation. We're using Apollo Client and Server with batching, and the client implementation of each mutation has an optimistic response that assumes the mutation will succeed. Relatively simple.

A problem emerges if a user rapidly taps the like

[2017-04-02 03:04] mdebbar commented on #176
@jamesreggio IMHO, the batching network interface should provide no extra guarantees over the simple network interface, and should behave the same. The problem of concurrent mutations is inherent to client-server applications and not specific to GraphQL or Apollo.

I agree that it would be nice if Apollo solved this problem, but I don't believe that's the goal of Apollo. I would love for Apollo to

[2017-04-03 11:48] edoroshenko commented on #313
@theboolean did you mean "return `HttpQueryError`"?
If yes, that is what I mean by writing "pass through".

[2017-04-03 21:32] theboolean commented on #313
@edoroshenko nope, I meant to return `runHttpQuery` at [line 30](https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-express/src/expressApollo.ts#L30). In this way we can handle the rejection of the promise at a higher level.

[2017-04-04 08:28] servermeta opened #349 "Apollo graphql-server vs loopback-graphql vs sails-graphql"
Hello everybody,

Me and my team are coming from a diverse background (some were using meteor, some sails, ...) and we are hoping to consolidate our skills in a single stack.

We picked graphql as a substitute for REST, with Apollo Client on the frontend, but we can't make up our mind about which backend to use.

I was looking with interest at Apollo Server (best GQL support, worst proficiency), b

[2017-04-04 08:57] smolinari commented on #349
I believe, if you step into a (proper) GraphQL world, for which it was purposely built for, i.e. with reactive UI clients, you should also be stepping out of the MVC paradigm. So, being Sails is MVC, mixing the two is sort of a clashing of paradigms. I am not sure using Sails with GraphQL would be completely effective. it is also not directly supported by Sails. That being said, since GraphQL is b

[2017-04-04 10:30] blackxored commented on #332
lambda-proxy is the default so you shouldn't need to explicitly add that.

[2017-04-05 08:56] DxCx commented on #329
@helfer do we want to remove support from KOA on both Node 4 and 6 or split packages for KOA1 and KOA2?

[2017-04-07 16:48] thebigredgeek opened #352 "update CHANGELOG.md?"
It looks like people are forgetting to update CHANGELOG.md?  This should probably be a required part of the release process:

[code]

[2017-04-07 16:49] thebigredgeek commented on #352
https://github.com/visionmedia/debug/blob/master/CHANGELOG.md

[2017-04-07 17:53] mnpenner commented on #107
@helfer I think the [documentation](http://dev.apollodata.com/tools/graphql-tools/errors.html#forbidUndefinedInResolve) is out of date. It still says `forbidUndefinedInResolve` is a function and you should use it to update your schema like so:

[code]

Regardless, I can't get any errors to show. I'm trying

[code]

And when I run I query I get back:

[code]

But no error is logged either to my ter

[2017-04-08 16:32] helfer commented on #329
@DxCx I'd be happy to remove Koa support for Node 4 and 6 going forward. I don't think it makes sense for us to put in the work if neither of us are using it. If someone who is using Koa comes forward and wants to maintain that part and make separate versions for Koa 1 and 2, we can still do that.

[2017-04-09 00:03] #329 closed

[2017-04-09 00:39] #324 closed

[2017-04-10 01:36] helfer commented on #352
Thanks @thebigredgeek. If there's a specific thing missing in the changelog, please make a PR. For the general case there's already a PR template that includes "update the changelog".

[2017-04-10 01:36] #352 closed

[2017-04-10 01:43] helfer commented on #349
@servermeta I think @smolinari's hits the nail on the head. `graphql-server` doesn't get in your way. It's most useful for building a GraphQL server in front of any kind of backend. `sails-graphql` and `loopback-graphql` are for creating servers from `sails` or `loopback` models specifically. If you have one of those, they can probably save you time, but if you want to keep maximum flexibility I'd

[2017-04-10 01:43] #349 closed

[2017-04-10 01:51] helfer commented on #346
@ramanacv they should work just fine together. If you have a specific issue, please let us know.

[2017-04-10 01:51] #346 closed

[2017-04-10 01:52] #337 closed

[2017-04-10 01:53] helfer commented on #333
@chrishiste have you been able to resolve this issue?

[2017-04-10 01:54] helfer commented on #321
This was due to Koa not supporting node 4.

[2017-04-10 01:54] #321 closed

[2017-04-10 01:54] #316 closed

[2017-04-10 02:00] helfer commented on #322
Hey @dupski, I think for such APIs it would be better to allow only a specific whitelist of queries rather than blacklisting only the introspection query. However, if you do want to blacklist the introspection query, you could write a new GraphQL validation rule that checks if a query contains the `__schema` or `__type` field and then pass that as an additional validation rule. How does that sound

[2017-04-10 03:15] helfer commented on #322
@dupski @TimMikeladze @scalder27 I thought what sounds super-easy to me might not seem as easy to people who don't work on GraphQL stuff every day, so I quickly wrote an npm package that contains that validation rule, called [graphql-disable-introspection](https://github.com/helfer/graphql-disable-introspection). I hope it helps!

PS:  I wrote a bunch of tests for it so I'm fairly confident it wor

[2017-04-10 03:18] #322 closed

[2017-04-10 05:57] dupski commented on #322
Sweet, thanks a lot @helfer, will check it out :)

[2017-04-10 14:54] corsen2000 commented on #269
I also ran into this issue for a in development application. Solved for now, by having `apollo-client` go through my applications server as a proxy to my `graphql-server`.

Would be nice if `graphql-server` supported OPTIONS, so that it could be used through CORS.

[2017-04-10 16:38] thebigredgeek commented on #352
https://github.com/apollographql/graphql-server/blob/master/CHANGELOG.md

Last documented change was 0.5.2, but 0.6.0 appears to be tagged and published.  I can't really speak to what needs to go into the CHANGELOG for 0.6.0.

[2017-04-10 19:02] helfer commented on #344
@christophercliff While technically correct I don't think people should throw errors in their `formatError` function so it's probably not that big of an issue. However, I'd be happy to accept a PR to take into account the `debug` variable, if you would like to make one. While you're at it, you could also improve the error message in the subsequent error to something more informative than "Internal

[2017-04-11 04:32] drFabio opened #355 "UI breaks with nginx reverse proxy"
Using apollo-server 0.3.3 with an Nginx reverse proxy I get the following behaviour when I access the UI by the reverse proxy (direct access works fine, the reverse proxy is also working):
[code]

I am using graphiql-express like the following:

[code]
Is there anything on the graphiqlExpress configuration that  I need to pass for it to accept the proxy?

[2017-04-11 19:43] DxCx commented on #355
sounds like the requests are forwared as GET and not POST.
anyway, apollo-server 0.3.3 is pretty old now, you should really upgrade to `graphql-server-express`

[2017-04-11 21:05] drFabio commented on #355
Yeah I just realized that today . Will migrate and check it . Thanks for the response

[2017-04-11 21:05] #355 closed

[2017-04-12 01:27] drFabio commented on #355
@DxCx  I updated, it is not a Method missdirection but maybe something else, anyway thanks for the input!

[2017-04-12 03:29] zackify opened #357 "Google cloud functions?"
Can I use the lambda package and run it on google cloud? I'm looking into using google cloud functions with the project. Sorry I didn't investigate first. Just wanted to see if anyone else is interested as well!

[2017-04-12 07:16] divramod opened #358 "[express] cannot get example running because of typescript error?"
Hey, i try to get the express example running with the following code:

index.ts

[code]

schema.ts

[code]

package.json
[code]

i got this error message:
[code]

i have a similar setup with the hapi example and got it running. some idea on what i am doing wrong?

[2017-04-12 13:00] soda0289 commented on #357
The AWS Lambda integration is designed to export a function for API Gateway proxy integration not Google Cloud. You would be better off using the graphql-server-core package and converting the request object into one that can be read by that package.

Is google cloud functions still in beta? It might be too early to write an integration for it.

[2017-04-12 13:02] zackify commented on #357
Thanks for the info. Yes it is still in beta

[2017-04-13 20:58] Samueljoli commented on #175
@PizzaBrandon @DxCx Hey just snooping around, any update on this?

[2017-04-14 13:59] nenti opened #360 "EndpointURL not working in new version"
I recently updated graphql-server-lambda to version 0.7.0 and get the following error on `graphiql` endpoint:
[code]

My handler looks as out of the documentation:
[code]

Is anyone experiencing the same problem with the new version? The version before worked fine. It seems as if my config is overwritten with the default value.

[2017-04-14 16:03] TdyP opened #361 "[hapi] Dynamically fetch schema on request"
Hi guys,
I've one question about graphQL server (using it with Hapi):
On my project, user can create entities types and add new fields.
These kind of actions generates a new schema with these new informations.
Re generating the schema is not an issue, but I don't know how to tell the server to use this new version.

Basically, all I would like is, in plugin options, being able to pass a function t

[2017-04-14 18:28] Ephem commented on #360
I had the same problem and tracked it down to https://github.com/apollographql/graphql-server/blob/v0.7.0/packages/graphql-server-module-graphiql/src/renderGraphiQL.ts#L124 where indeed `/graphql` is used directly. This seems to be fixed in 0.7.1 though and upgrading fixed my problems! :)

[2017-04-15 07:51] comus opened #363 "passHeader not in the header"
see:
https://github.com/apollographql/graphql-server/blob/d648c3efb83166e7834331c81b329b27c1364093/packages/graphql-server-module-graphiql/src/renderGraphiQL.ts

missing the usage of passHeader

i also commented here:
https://github.com/apollographql/graphql-server/commit/c4fabe367507f048f756ab4772942382449ef5a8#diff-590079b08b899b8986eea47e62859703L109

[2017-04-15 16:21] servermeta commented on #4
One use case I thought about is to have one GQL server to handle auth & permission logic, chained with one handling the real data.

So you authenticate with the public facing server, so that you can pass queries to private servers.

I frown upon using gRPC, thus adding another library in my codebase. Using GQL only would be a benefit.

Why can't GQL serve all our needs?

[2017-04-15 20:32] DxCx commented on #313
hmm..
if resolver failed, then `express` shouldn't respond with an error, transport did it work correctly.
you should get `200` status with `{ errors: [....] }`
at the moment you don't get ANY thing?
can you eleborate which error is that?

[2017-04-15 23:48] helfer commented on #363
@comus looks like that was forgotten. Would you mind making a PR to add it back?

cc @Urigo

[2017-04-16 09:22] smolinari commented on #4
It can, once all the necessary tooling is made available. :smile:

The only question is, when will it come? Currently GraphQL doesn't support what gRPC does. When it does, then sure. It can cover all the API bases.

Scott

[2017-04-16 16:40] jnak commented on #4
@servermeta While that was not one of the design goals of graqhql, I think there is not fundamental reasons it could not be a graph enabled rpc layer.

When it does, then sure. It can cover all the API bases.
In my opinion the main thing missing is more robust error / exception handling. At the moment errors are mostly useful for debugging purposes and not useful for rpcs. You could achieve this i

[2017-04-16 18:13] smolinari commented on #4
@jnak - These points are off the top of my head and from my limited knowledge.

1. gRPC supports a number of languages out of the box.
2. The client code can be automatically generated in any of the supported languages.
3. gRPC supports full duplex streaming.

Scott

[2017-04-17 01:50] kylecordes commented on #313
Does this issue leave `graphql-server-express` essentially unusable until fixed?

[2017-04-17 02:48] jnak commented on #4
@smolinari Interesting. With regard to 1. and 2.,  I think graphql took the route of building very idiomatic client and servers in each language by building a spec. While it is harder to bootstrap as an ecosystem, I think medium term it was right choice. When I look at https://github.com/chentsulin/awesome-graphql, I feel we are almost there. Regarding 3., I'm hopeful that graphql subscriptions (h

[2017-04-17 05:05] smolinari commented on #4
@jnak - That's why I said "It can, once all the necessary tooling is made available." 😄

I love GraphQL's future too. Because, I believe it is built much more to be a client based API (if you can call it that). By that I mean, the client has much more flexibility in getting only the data it needs and defining the calls on its own. GraphQL is a great end-user(GUI client)/ server API system. This ki

[2017-04-17 07:52] DxCx commented on #313
why unusable?
i still didn't see any in-depth info of the issue,
all i know is that i am using `graphql-sever-express` and it is working as expected...

[2017-04-17 08:29] chrishiste commented on #333
No didn't took the time to go back on it unfortunately :S but I've done other lambda related work and got this malformed lambda response error again, fixed it by sending back a json object with a status code as recommended above, so the problem might be just this as well but not completely sure. Maybe I should close this issue and open a new one if needed?

[2017-04-18 04:30] darting opened #365 "Any plan to support aerojs?"
Hi there,

Just want to know if there is any plan to support aerojs https://github.com/aerojs/aero

Thanks

[2017-04-18 09:08] TdyP commented on #361
Finally resolved this myself, using a getter to retrieve schema
[code]

And defining plugins options like this : `graphqlOptions: { schema: obj.schema }`

This makes the job as `obj.schema` is a `GraphQLSchema` as expected.

[2017-04-18 09:08] #361 closed

[2017-04-18 14:19] #363 closed

[2017-04-18 14:20] Urigo commented on #363
@comus thanks, my bad...

[2017-04-18 18:43] jagi opened #367 "[lambda] GraphiQL "Forbidden" response message"
I'm having a problem with running GraphiQL on AWS lambda. When I make a query I receive
[code]
as a response.

Response Headers
[code]

The problem is only with GraphiQL. The GraphQL endpoint is working correctly. It's hard to tell what's a source of the problem because there are no CloudWatch logs. It looks like lambda function is never called.

I'm using [Serverless](https://serverless.com) to d

[2017-04-18 18:49] soda0289 commented on #367
If there are no CloudWatch logs you are correct to assume that the lambda function is not running. You can always run the lambda function from the API Gateway console to make sure it is handling the request correctly.

A forbidden response is the default response when the API Gateway has not been configured for that endpoint. Could be a typo or using the wrong HTTP method. Take a look at the API G

[2017-04-18 21:45] jagi commented on #367
@soda0289 thanks for the fast reply. Testing lambda function from the API Gateway console is not needed as I said GraphQL endpoint works correctly. However, I did test for POST and GET requests and both work properly. The only problem is that when request comes from the GraphiQL, then it does not work.

My SLS config is following:
[code]
and `handlers.js`
[code]

Btw. I had to define both POST and

[2017-04-18 22:02] jagi commented on #367
Ah my bad. I found problem. In the GraphiQL config we have to provide endpointURL with the stage :)
[code]
and not
[code]
It's actually how it's done in the example in README, but maybe it's worth nothing, what do you think? I can add proper info if needed.

[2017-04-18 22:03] soda0289 commented on #367
@jagi Thanks for giving me more details.

I was just responding with more details. Glad you fixed it. I will make an update to the README. Thanks for the suggestion.

[2017-04-18 22:03] jay1337 opened #368 "passHeader not working anymore"
Hello,

The `passHeader` option when calling `graphiqlExpress` now has no effect.
The option is no more used to calculate the result returned by `renderGraphiQL` function in `RenderGraphiQL.ts`.

Can you fix it ? (just re-adding the line with `${passHeader}` in `RenderGraphiQL.ts` as it was previously ...)

Thanks a lot.

[2017-04-19 00:10] cesarsolorzano commented on #368
already fixed #364

[2017-04-19 03:58] #368 closed

[2017-04-19 03:58] helfer commented on #368
@jay1337 you probably need to update your version of graphql-server.

[2017-04-19 03:59] helfer commented on #367
Looks like this has been resolved. If there's a way we can make this easier to debug, please consider making a PR! 🙂

[2017-04-19 03:59] #367 closed

[2017-04-19 04:00] helfer commented on #358
Your bodyParser import doesn't seem to do what you wanted. This is unlikely to be an issue with graphql-server, so I'll close this. Please feel free to ask for help on SO or the slack channel!

[2017-04-19 04:00] #358 closed

[2017-04-19 04:01] helfer commented on #365
@darting no plans that I know of. We're always more than happy accepting PRs that add a package for your node server framework of choice though :wink:

[2017-04-19 04:02] helfer commented on #360
Thanks for filing the issue. This should indeed be fixed in 0.7.1. Sorry it slipped through review!

[2017-04-19 04:02] #360 closed

[2017-04-19 04:03] helfer commented on #1
Closing this since it's no longer on top of our list of priorities. Most performance issues with GraphQL servers can be solved with tools like Apollo Optics or other instrumentation in my experience.

[2017-04-19 04:03] #1 closed

[2017-04-19 04:05] helfer commented on #18
Closing this issue since this has moved a bit farther into the future. We already have a PR open that would add a ws transport to support this. Other than that, support needs to be added in the execution engine first, so the best thing we can do on the server is support different execution engines, some of which might return observables from the execute function instead of a promise.

[2017-04-19 04:05] #18 closed

[2017-04-19 04:06] helfer commented on #175
Closing this based on comment from @PizzaBrandon on Jan 27.

[2017-04-19 04:06] #175 closed

[2017-04-19 04:07] helfer commented on #229
@thebigredgeek I think you should tune in here with the file upload solution you were working on!

[2017-04-19 04:09] helfer commented on #344
I think I'll close this since it's not really an issue in my opinion. Still happy to accept a PR to change the behavior or the docs.

[2017-04-19 04:09] #344 closed

[2017-04-19 04:10] helfer commented on #338
Happy to accept a PR that changes this, but if nothing materializes I will close the issue as it's not an issue per se but more of a feature request.

[2017-04-19 04:11] helfer commented on #333
Ok, thanks for the feedback! I'll close the issue since it doesn't sound like it's related to graphql-server, but feel free to open a new one if you find evidence to the contrary.

[2017-04-19 04:11] #333 closed

[2017-04-19 04:12] helfer commented on #357
I'd also be happy to accept a PR that adds a separate package for google cloud functions, just like we have one for lambda. :wink:

[2017-04-19 04:13] helfer commented on #301
Closing this for lack of activity. Let's keep track of file upload related things in #229. If anyone has time to write up and propose a design, I'd be more than happy to review it. Any and all contributions, big or small are welcome!

[2017-04-19 04:13] #301 closed

[2017-04-19 04:16] helfer commented on #259
@linonetwo this sounds very much like a corner case. I think for the moment your best bet would be a graphql subscription or maybe polling. Definitely not something I would implement with a single GraphQL request. I'd look at this more as a mutation (eg submitting a job to MT) and then checking the status of that job.

I'm going to close this since it's not really an issue with graphql-server, but

[2017-04-19 04:16] #259 closed

[2017-04-19 04:26] jaydenseric commented on #301
For an immediate solution, checkout [apollo-upload-server](https://github.com/jaydenseric/apollo-upload-server).

[2017-04-19 09:13] gajus commented on #338
I am no longer advocating for debug. I've had to hard-replace debug module for all dependencies (`rm -fr ./node_modules/debug && mv ./node_modules/our-debug ./node_modules/debug`) when going into production, because debug output is non-parsable.

See this issue for reference https://github.com/visionmedia/debug/issues/442.

If someone else wants to advocate the issue, please re-open it.

[2017-04-19 09:13] #338 closed

[2017-04-19 09:22] zackify commented on #357
Is there anywhere I should look to better understand the internals? Or just look over the current code to make my own :)

[2017-04-19 12:52] helfer commented on #357
Yeah, I would just look at what the lambda or micro package does and then roll your own! It's pretty straightforward.

[2017-04-19 16:24] thebigredgeek commented on #338
I'm happy to continue advocating integration of debug into `graphql-server` and `apollo-client`.  I don't agree that the output is non-parseable by any means.  The output is standardized and can be easily transformed using bash and a regex, or pretty much any other log uptake tool on the planet.  I'll find some time to put in a PR in the next few weeks.  Until then, shall we reopen the issue or op

[2017-04-19 16:29] gajus commented on #338
[code]

will produce output:

[code]

which is useless for any time series logging.

[2017-04-19 16:30] thebigredgeek commented on #229
Well, I am not working on it yet haha.  Was waiting until we had a spec for the network interface we were discussing on slack.  I figured we were going to bundle file upload handling into the new interface?

[2017-04-19 16:31] gajus commented on #338
Assuming the sole purpose is debugging at the time of development, "debug" is fine. If there is any use case of logging this, use [Bunyan](https://github.com/trentm/node-bunyan) or [Winston](https://github.com/winstonjs/winston).

[2017-04-19 16:32] thebigredgeek commented on #338
That is lib abuse, and an admitted failure to parse out `\n` and other escape sequences from the namespace.  That isn't documented nor is it intended, fwiw

[2017-04-19 16:36] gajus commented on #338
Might be worth documenting this. Not a word about it in the docs.

The same (non parsable) applies to any arguments passed to "debug":

[code]

produces:

[code]

Again, fine for debugging, useless for logging.

[2017-04-19 16:41] thebigredgeek commented on #338
Well, the docs don't mention using escape sequences in the namespace either ;).  But we definitely need to add better sanitation.

I agree that if you have complex logging needs, debug might not be right for you.  That said, I think debug is a great solution in 80%+ of cases, and I think calling it "useless of logging" isn't really accurate at all.  I think it's enough for most people, and useful

[2017-04-19 18:35] VladShcherbin commented on #272
@DxCx hey, any news on graphql queries over ws support?

[2017-04-19 20:47] DxCx commented on #272
@VladShcherbin @MrGekko
there is already an open PR for the initial protocol changes, you can track it here:
https://github.com/apollographql/subscriptions-transport-ws/pull/108

[2017-04-19 20:58] DxCx commented on #313
Alright, so since i'm using `graphql-server-express` myself, and for me it works (maybe you are using older express version? or we are using it in a different way maybe?) i didn't notice that..
anyway, yes, according to express documentation you are correct, error should pass through next,
would you like to open a quick PR for fixing that?

[2017-04-19 22:07] helfer commented on #313
@edoroshenko could you provide a reproduction for this? There are hundreds of people using graphql-server-express without issues, and I would bet many of them throw errors inside resolvers. While express wants errors to be passed into the `next()` call, the GraphQL spec clearly specifies that errors thrown inside resolvers should be put into the `errors: []` part of the GraphQL response. It says n

[2017-04-19 22:24] DxCx commented on #313
well @helfer, his explanation is abit tricky, you are totally correct and that's what i said before without getting too much into it that errors from resolvers should be under errors as transport layer "success".
however, in this case, the code marked is not related to errors in resolvers, but for errors in graphql-server-core layer, which should be passed in `next` and not thrown.

[2017-04-19 23:13] helfer commented on #313
@DxCx ah, I see, that makes more sense. Let's fix that.

[2017-04-20 07:19] Aides359 opened #369 "Missmatch with npmjs.com"
The [npm link on graphql.org](http://graphql.org/code/#graphql-server-http-dev-apollodata-com-tools-graphql-server-index-html-github-https-github-com-apollostack-graphql-server-npm-https-www-npmjs-com-package-graphql-server) leads to the [graphql-server npm page](https://www.npmjs.com/package/graphql-server) which references [github.com/apollostack/apollo-server](https://github.com/apollostack/apo

[2017-04-21 02:03] helfer commented on #369
Thanks for bringing this to our attention, I'm fixing it right now.

@DxCx it also looks like the README.md files on npm for each package are extremely minimal and just link to the docs. I think we should change that.

[2017-04-21 05:34] thebigredgeek opened #371 "RFC: Modular and Simplistic GraphQL Backend API"
Right now, it requires a LOT of boilerplate to set up a GraphQL API.  You have to piecemeal a lot of different base components together in order to stand up a server, and I would guess that 80%+ of the time the servers do just about the same thing with the just about same constraints.  Having to deal with so much boilerplate creates a lot of adoption hurdles for teams wanting to give GraphQL a try

[2017-04-21 05:42] helfer commented on #371
Thanks @thebigredgeek! A bit of context would be nice. I don't think most people want to click on links before at least having some idea of what they'll find there.

[2017-04-21 05:51] smolinari commented on #371
I get the gist of it (haha! pun intended!) and it is the start to a discussion that is definitely the next step after GraphQL.

Why the name "Solaris" though? Project Solaris? Or should that be the name of the backend? If yes to the latter question, why not simply "Apollo Platform"? That sounds really cool to me. 😄

Scott

[2017-04-21 06:01] DxCx commented on #369
@helfer
each package in `packages` can contain it's own README.md,
if you will remember when we spoke about splitting to variants you said that you will update the READMEs after we split..

[2017-04-21 13:33] jay1337 commented on #368
Thanks for your answers.

@helfer my installed version is up to date but the the fix has not yet been included in a new NPM package release...

[2017-04-21 16:21] helfer commented on #368
@jay1337 what version are you running? Did I not release the latest changes? 🤔

[2017-04-21 17:44] helfer commented on #368
nvm, looks like I didn't release. 0.7.2 is out now and should have the fix included.

[2017-04-21 17:47] helfer commented on #369
Haha, I don't remember that, but it sounds like something I would say. Since I don't have a lot of time right now, I hope we can split up the work among a few people. Do you remember who the main authors are for the various packages?

[2017-04-21 18:32] thebigredgeek commented on #371
IDK, just an idea for the project name.  Don't much care what it is called haha

[2017-04-21 19:42] thebigredgeek commented on #371
@helfer let me know if the above explanation is verbose enough

[2017-04-21 21:22] DxCx commented on #369
nope, we can probably dig it from git log..
seems like:
`koa` - @HriBB
`hapi` - @nnance
`express` - @nnance
lambda has a readme as far as i remember..

[2017-04-22 02:34] helfer commented on #369
ok, I think none of these people have made any commits recently. Let's just create an issue and tag it with "help wanted"!

[2017-04-22 02:35] helfer opened #373 "Create README.md for express, hapi and Koa"
Currently the readmes in those packages just link to the docs. We should create proper readmes so that users can see them on npm. It's as simple as copying parts from the main README and the docs section for each server, all the text is already written. The only things to document is how to set up a simple GraphQL endpoint and GraphiQL.

Volunteers and new contributors very welcome!

[2017-04-22 02:37] helfer commented on #369
#373.

[2017-04-22 02:37] #369 closed

[2017-04-22 05:19] DxCx commented on #357
@zackify the http logic itself is pretty abstract in `graphql-core`
you can take a quick look at the integrations themselves and see that they are just "adapters".
should be pretty easy to add support..

[2017-04-24 05:18] jthegedus commented on #357
I have also been looking into hosting GraphQL on GCP Cloud Functions / Cloud Functions for Firebase. I've come across a number of resources that have confused me with the use of ExpressJS in the context of Cloud Functions:

[Here](https://github.com/firebase/firebase-functions/issues/27) I see people passing an ExpressJS server into the Firebase Cloud Functions ``functions.https.onRequest`` with a

[2017-04-24 13:14] soda0289 commented on #357
It does seem like the google cloud function takes in an express Request/Response object.
https://cloud.google.com/functions/docs/writing/http

It also seems like the firebase google cloud function has several triggers. The http trigger is created using this function `functions.https.onRequest`. Which takes in the same express Request and Response objects.
https://firebase.google.com/docs/functions

[2017-04-24 13:27] jthegedus commented on #357
I can confirm that the ``graphql-server-express`` is easily setup in Cloud Functions. It's more stable than the ``express-graphql`` implementation as it doesn't appear to error on the absent trailing '/'.

Sample code:
[code]
called using ``https://us-central1-<project-name>.cloudfunctions.net/graphql``.

however to use GraphiQL as well you must do the following:
[code]
and then call the method wi

[2017-04-24 14:52] jay1337 commented on #368
@helfer It works. Thanks a lot !

[2017-04-25 02:10] zackify commented on #357
Also, how would you do this with subscriptions? Is that not possible I'm guessing?

[2017-04-25 02:21] jthegedus commented on #357
[This](https://github.com/apollographql/graphql-subscriptions/issues/53) ``graphql-subscription`` issue is tracking that. I'm looking into managed PubSub services, particularly [Google Cloud PubSub](https://cloud.google.com/pubsub/) at the moment.

[2017-04-25 20:35] nuxlli opened #374 "Logic error on resolvers' error handling"
I'm trying to raise an exception that returns a http status code 401:

[code]

But there is a problem with errors handling logic (took hapi as example but the error is consistent with other packages).

In https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-hapi/src/hapiApollo.ts#L28 would be expected that the `runHttpQuery` returns a rejected promise with the error

[2017-04-28 21:12] helfer commented on #373
@HriBB do you think you'd be able to put together the readme for Koa?
@nnance any chance someone on your team could make a PR with the readme for Hapi?

Not required by any means, but I think it would be very useful, and I don't currently have the time to do it myself.

[2017-04-29 04:46] mike-marcacci opened #376 "Make it possible to use graphiql without CDN"
This is basically identical to [this old issue over at the official graphiql repo](https://github.com/graphql/graphiql/issues/135): graphiql needs to work in offline/intranet/sandboxed/whatever environments.

I'm currently in a mostly offline scenario (dial-up quality cell service) and the dependency on jsdelivr.net was definitely something I didn't anticipate when getting everything ready for off

[2017-04-29 06:43] helfer commented on #376
Hi @mike-marcacci! :wave: I totally agree, this is a duplicate of #295 I think. A PR would be very much appreciated!

[2017-04-29 06:43] #376 closed

[2017-04-29 19:50] mike-marcacci commented on #376
Agreed! Sorry I missed that one (was quite bandwidth-limited while searching existing issues). I'll see if I can get a moment to help w/ a PR. Just wanted to make sure it was recorded somewhere!

[2017-05-01 00:10] helfer commented on #374
@nuxlli As you pointed out, this is perfectly expected behavior in `graphql-js`. Errors in resolve functions are captured and returned as part of the response in the `{errors}` field.

The general recommendation for what you're attempting to do is to have an authentication middleware before graphql even gets executed. If the user is not authenticated, that middleware will raise an error, return a

[2017-05-01 00:10] #374 closed

[2017-05-01 16:30] servermeta opened #378 "how to use microGraphiql"
I know it's a noob question... but how do I use microGraphiql?

[2017-05-01 19:04] helfer commented on #378
@nnance maybe you can answer this question?

[2017-05-01 19:20] DxCx commented on #378
also, i would suggest to update README.md to document it properly 👍

[2017-05-01 19:30] christophercliff commented on #310
Hapi appears to have removed the server level `cors` config. In v16 it only exists at the route level. Any tips on configuring?

[2017-05-01 19:42] christophercliff commented on #310
Figured it out. The plugin accepts `route` options, e.g.

[code]

[2017-05-02 05:45] babsonmatt commented on #313
I believe the same issue exists with the koa package as well

[2017-05-03 21:57] rwatts3 commented on #378
Yes I too am looking for documentation on the micro server.
Any links or pointers for documentation will be greatly appreciated.

[2017-05-04 14:42] Shahor opened #379 "Have better error message when content type is incorrect or query provided in the wrong place"
# Description

When you try to call a graphql route with the incorrect `Content-Type` the server replies with the follow :

[code]

# Intended outcome

The error message is misleading and makes it hard to debug => Have an explicit error message

[2017-05-04 16:44] helfer commented on #379
@Shahor please be a bit more specific about what content-type and what request you're sending.

Or if you've already looked at the code and established that this will happen with any incorrect content type, a PR would be much appreciated! 🙂

[2017-05-04 16:48] helfer commented on #378
@servermeta @rwatts3 This test file might help you figure it out: https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-micro/src/microApollo.test.ts

It looks like the following usage should work:

[code]

Where `options` is the same kind of object or function you see in the docs for all the other integrations (express, koa, etc.).

I hope this helps! If one of you c

[2017-05-04 16:55] rwatts3 commented on #378
@helfer is micro supposed to replace the need for express, koa...
Would it allow you to spin up a graphql endpoint inside of an existing application that doesn't use express, koa ... such as nuxt.js or next.js

[2017-05-04 16:59] servermeta commented on #378
@rwatts3 micro is a server used to launch a graphql server.
you can use express or micro or koa. As you choose.

It's separated from the frontend

@helfer I'll try to look into it and post an update

[2017-05-04 21:18] nsisodiya opened #380 "How to do live-reload"
I am using react-apollo.
My problem is - When I make some changes in express server based app, I have to manually reload the browser tab at `http://localhost:3000/graphiql`.
IMHO , we should provide something like

[code]

[2017-05-05 13:56] antogyn opened #381 "Errors thrown in the parseLiteral method of custom scalars are not handled anymore"
Since version 0.5.1 of `graphql-server-koa` (I have only tested the bug with Koa), exceptions thrown in the `parseLiteral` method of custom scalars result in an `Internal Server Error`.

e.g. if we modify the example in the docs to throw an exception:

[code]
If we run a query with an argument of type `Date`, the server will return `Internal Server Error`.

In version 0.5.0, the error is correctly

[2017-05-05 14:48] Magneticmagnum opened #382 "graphiqlExpress setup with endpoint that requires authentication and CORS?"
Is there a way to configure graphql-express to use the graphiqlExpress configured with custom headers for authentication and handling CORS?

[2017-05-05 18:00] helfer commented on #381
Which version of `graphql-js` is this with?

[2017-05-08 18:15] rwatts3 opened #383 "Microservices using Apollo"
Greetings,

I am trying to decide the best way to build microservices using apollo.
I recently came across this site.  https://www.graphqlhub.com/playground

If you attempt to write a query you'll notice the first thing you get is a list of services.
hn, twitter, graphqlhub etc ...

Once you are nested within that service you can then write queries against that service.
I like how this keeps every

[2017-05-08 18:22] helfer commented on #383
@rwatts3 that page simply uses [GraphiQL](https://github.com/graphql/graphiql) against the GraphQLHub schema, which contains all of those services. The schema was manually written to combine the services into one schema.

For learning about GraphQL in general, I can recommend graphql.org as a pretty good starting place.

[2017-05-08 18:22] #383 closed

[2017-05-08 19:48] rwatts3 commented on #383
Thank you.

I probably should have  mentioned  that I'm aware that it's using graphiql. I suppose my question is more so if there is an example of how to combine the schema in such a way using Apollo ? Of there is no example could you give me a quick pointer and I'll take it from there.

Thank you for your time.

[2017-05-08 20:29] smolinari commented on #383
Have a look at [gRPC](http://www.grpc.io/). I think it is a better solution for microservice communication.

Scott

[2017-05-08 21:05] helfer commented on #383
@rwatts3 I think there's nothing magic about GraphqlHub, that entire schema was written by hand, and it just happens to combine everything into one schema at the root field. AFAICT there are no other connections between the services there.

[2017-05-09 09:34] Ramzeus opened #384 "UnhandledPromiseRejectionWarning for errors that is not HttpQueryError"
I came across a problem related to this line of code: https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-express/src/expressApollo.ts#L40

I got the problem when I tried to call a mutation and used the wrong data type for a mutation parameter object (Boolean instead of Date). I got no error response at all from the server, and in the server console I got this messa

[2017-05-09 16:55] sarkistlt opened #385 "TS2709: Cannot use namespace 'Cookies' as a type."
`ERROR in [at-loader] ./node_modules/@types/koa/index.d.ts:651:18
    TS2709: Cannot use namespace 'Cookies' as a type.`

I don't now if I should post this issue in `koa` rep, but in my project koa is only dependency for apollo-server

[2017-05-09 17:10] sarkistlt commented on #385
solved with using `graphql-server-express` instead of `apollo-server`

[2017-05-09 17:10] #385 closed

[2017-05-10 08:12] antogyn commented on #381
In the package.json of version 0.5.0 & 0.5.1:

[code]

0.7.2:
[code]

I tryed with both 0.8.2 & 0.9.2 for each version, and also 0.9.6 (lastest) for version 0.7.2, the same thing happens

[2017-05-10 19:56] blakeembrey opened #386 "[GraphiQL] Change `updateURL` Behaviour"
I started using GraphiQL with an API and needed authentication to work, so I worked around this by having the API to respond to a specific referrer auth errors by sending the implicit OAuth 2.0 URL that people can see in the panel. Unfortunately, when someone types it wipes out the existing state in the URL. Is it possible to retain `window.location.hash` instead of wiping it out so subsequent att

[2017-05-10 21:50] edoroshenko commented on #313
@helfer do you still need a reproduction? (sorry for late response)

[2017-05-11 11:54] FlyersWeb opened #387 "Error : TypeError: nodeAndDefs[responseName].push is not a function"
When I try to create a GraphQL server with a GraphQLObject having a constructor field I get the error `TypeError: nodeAndDefs[responseName].push is not a function`

## Intended outcome
Server should not throw error

## Actual outcome
`TypeError: nodeAndDefs[responseName].push is not a function`

## How to reproduce
Create a GraphQL object with a constructor field
[code]

Let me know if you need mo

[2017-05-11 12:21] FlyersWeb commented on #387
The query associated :

[code]

[2017-05-12 02:55] helfer commented on #387
@FlyersWeb I suspect this may be something in graphql-js. Can you check if you get the same error if you execute the query directly against the `graphql` function from `graphql-js`?

[2017-05-12 03:04] stubailo commented on #386
I think this might be better filed here! https://github.com/graphql/graphiql

[2017-05-12 03:54] helfer commented on #313
@edoroshenko I don't think we need a reproduction. If you could make a PR with a test and a fix, that would be great! 🙏

[2017-05-12 04:03] helfer commented on #381
Ok, it seems it's not due to `graphql-js` then. Could you provide us with a reproduction of the issue? 🙂

[2017-05-12 04:25] helfer commented on #384
Hey @Ramzeus can you verify that this isn't an error that would be uncaught when you're just calling the `graphql` function in `graphql-js` directly? I suspect that this error is thrown in an uncatchable way in `graphql-js`. I know there was a recent change related to parseLiteral and parseValue in graphql-js.

[2017-05-12 04:35] helfer commented on #382
@Magneticmagnum I think there's a way to essentially put a string in the header. It's a bit hacky, but it was used for the meteor integration. See `passHeader` here: https://github.com/apollographql/graphql-server/blob/79458e2ebb687a8dc76ee986ca1e5dd6dd3397eb/packages/graphql-server-module-graphiql/src/renderGraphiQL.ts#L17

If that doesn't do the trick for you, a clearer description of your use-c

[2017-05-12 14:11] thomasMary opened #388 "shared interface resolver"
Is it possible to create resolvers for an interface such as:
[code]
[code]
So I don't have to duplicate the logic?
Thanks

[2017-05-12 14:14] blakeembrey commented on #386
Why's that? I thought this was the relevant snippet: https://github.com/apollographql/graphql-server/blob/79458e2ebb687a8dc76ee986ca1e5dd6dd3397eb/packages/graphql-server-module-graphiql/src/renderGraphiQL.ts#L158.

[2017-05-12 14:32] Magneticmagnum commented on #382
Ah, yes, thanks!

It definitely does feel hacky, as you'd have to do something like `passHeader: '"token": "xxxxxx"', \n '"token2": "xxxxxxx"'`

But works for me for now!  Thanks @helfer

[2017-05-12 14:32] #382 closed

[2017-05-12 15:12] stubailo commented on #382
Yeah most people eventually end up setting up a custom GraphiQL, or using the one in the Apollo dev tools.

[2017-05-12 15:13] stubailo commented on #386
You know what, you're totally right!

I think if you send a PR with an option to disable that, we'll happily accept it!

[2017-05-14 20:36] helfer commented on #388
@thomasMary no, that's not possible at the moment. Resolvers always have to be defined on the implementing type.

PS: This question would technically belong on the graphql-tools repo.

[2017-05-14 20:36] #388 closed

[2017-05-15 01:49] p4bloch commented on #253
@Poincare what do you think about updating the link on that blog post to [apollographql/persistgraphql](https://github.com/apollographql/persistgraphql) instead of the one under your nickname? I had trouble finding it within the apollographql org, and it seems to be the proper one. Thanks!

[2017-05-15 02:27] Poincare commented on #253
@p4bloch Thanks for pointing this out - I will get this done :)

[2017-05-16 12:09] trotzig commented on #384
I think this is a duplicate of #313. I'm going to try coming up with a PR that will at least surface the error better.

[2017-05-16 17:21] lednhatkhanh commented on #40
Hello, what is the status of those features? @TimMikeladze I couldn't find it anywhere in the docs

[2017-05-16 20:54] greenkeeper[bot] opened #391 "An in-range update of @types/sinon is breaking the build 🚨"
## Version **2.2.2** of [@types/sinon](https://www.npmjs.com/package/@types/sinon) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/graphql-server/compare/greenkeeper%2F%40types%2Fsinon-2.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/sinon
    </td>
  </tr>

[2017-05-17 03:34] lednhatkhanh opened #392 "Document for security"
Hello, I'm trying to create an Apollo server and finding for security tips like rate limiting, protection against DDOS attack... But I could not find it anywhere in the docs, any plans on wrting these docs or are there any useful article that people like me cantake a look at, thank you.

[2017-05-17 03:39] MGazi42 opened #393 "The best way to design Schema"
I am new in graphql. I don't know how can I design schema the best way. I also thinking how can I define multiple schema ? Like the below;

`const executableSchema = makeExecutableSchema({
  typeDefs: [Schema1,Schema2]
  resolvers: [Resolvers1,Resolvers2]
});`

Because we have project might grow up. We can not go on like this;

`const Schema = `
    type Author {
        id: String
        name: S

[2017-05-17 08:25] mairh commented on #393
@MGazi42 Usually, these type of questions should be asked on stackoverflow. Nonetheless just to get you started you can have a look at https://github.com/sysgears/apollo-fullstack-starter-kit which divides the schema in a really nice way using `graphql-server-express`

[2017-05-17 21:09] MGazi42 commented on #393
I was look at the repo you suggested. But it looks like it is not a very nice way. As you say, I asked on stackoverflow [http://stackoverflow.com/questions/44034804/the-best-way-to-design-schema](url)

[2017-05-18 13:17] jamsheer-thottathil opened #395 "Issue with GraphQL query"
I am working with Apollo GraphQL .

I have table with three  records and queried from the same with graphQL as flows

Query

[code]

Query variable

[code]

Result

[code]

But if I  supply query variable as null, I am getting the  response as follows (Seems like fetching all records )

Query variable

[code]
Result

[code]

I am confusing that why i am getting all records even if I pass null valu

[2017-05-18 13:50] DxCx commented on #395
hey @jamsheer-thottathil
can you also paste code of your resolver?
this is what your resolver returns..
also, what would you expect to if variable is null?

[2017-05-18 13:56] jamsheer-thottathil commented on #395
I want to return only records which has lastName is null.

My resolver is

https://github.com/apollographql/graphql-server/issues/395#issuecomment-302409483

const resolvers = {
  Query: {
    author(_, args) {
      return Author.findAll({ where: args });
    },

[2017-05-19 08:49] DxCx commented on #395
hmm, to me it sounds like findAll with lastName: null just find all lastNames..
can you test it off-graphql? i mean like open small js file and console.log the result of Author.findall(where last name is null)

[2017-05-19 09:12] jamsheer-thottathil commented on #395
Right,  findAll with lastName: null just find all lastNames .
In my case its making sense less. If give null value for lastName (currently handling with client side validation )Its leads to return all records , It may give wrong search result for end user.

[2017-05-19 16:07] DxCx commented on #395
alright, looks like this is resolved =)
you just need to send the right query to your database..

[2017-05-19 17:39] #313 closed

[2017-05-21 01:17] gauravmk opened #396 "Chunked Responses for Batch requests"
Because apollo-client automatically batches requests, you can sometimes get in a situation where a single slow query can block a whole page from loading instead of optimizing for "time to interactive". One way of solving this would be for client programmers to manually adjust the batching behavior. A more automatic and efficient way is for the server to stream results as each request completes.

Y

[2017-05-21 06:46] dalerka opened #397 "How to use AWS Cognito to authenticate/authorize users with Apollo (client/graphql-lambda)?"
Can someone point me to an example of best practices or production ready code showing:
1) how to authenticate users with AWS Cognito on Apollo client and pass that info to Apollo _graphql-lambda_?
2) use that info to let a user modify records in a db (e.g. Dynamodb) only if they have certain permissions? (e.g. users can only edit own posts, and can edit any post if user is admin).

Would be great

[2017-05-21 12:42] stevezau opened #398 "graphql-server-lambda timeouts"
Hi,

I've deployed a graphql to lamba by following https://github.com/apollographql/graphql-server/tree/master/packages/graphql-server-lambda.

My handler.js looks like

[code]

I've deployed it using serverless, webpack and babel. It seems to deploy ok but when i hit the API it gives me a timeout.

Looking at the logs I get timeouts.
```2017-05-21T12:28:06.013Z 3d93c802-3e20-11e7-8c9a-e78f2216023

[2017-05-22 06:52] stevezau commented on #398
Solved this. IT was related to mongoose preventing it from closing. Hope this helps someone else.

[code]

[2017-05-22 06:52] #398 closed

[2017-05-22 12:41] ksmithut opened #399 "Feature Request: host relative paths for `subscriptionsEndpoint` option"
**Intended outcome**: Be able to configure GraphiQL with a path (without the protocol, host, or port) for the `subscriptionsEndpoint` option instead of a fully qualified URL.

**Actual outcome**: The network interface on the client must have a fully qualified URL, so it throws an error in the client saying that `/subscriptions` is an invalid.

[code]

**Reproduce**

[code]

I think this can be don

[2017-05-24 05:23] FlyersWeb commented on #387
Corrected by https://github.com/graphql/graphql-js/pull/864

[2017-05-24 05:33] spicydonuts commented on #378
I'm having trouble getting it running.  It doesn't look like it's using any of micro's response writing helpers or return a Promise to keep `micro` waiting until the it's done building the response.  Specifically, [this line](https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-micro/src/microApollo.ts#L32) should `await` or `return` and the `.then` below should use

[2017-05-24 06:24] spicydonuts commented on #378
Here's a PR: #401
I don't really know how the test works, so I didn't fiddle with much there.

[2017-05-24 06:31] spicydonuts commented on #378
I also tossed an example into the [README](https://github.com/spicydonuts/graphql-server/blob/bf03d1ea85c3b953bb7fdd6ef32984329cd7f506/packages/graphql-server-micro/README.md) which _should_ work once this change is in.

[2017-05-24 07:50] FlyersWeb commented on #387
I'm waiting for graphqljs new release and apollo server new release to resolve issue

[2017-05-24 08:28] #386 closed

[2017-05-24 13:07] phra opened #402 "add support for fastify"
hi,

it would be nice to have also official support for [fastify](https://github.com/fastify/fastify).

are you considering it?

[2017-05-24 20:31] pho3nixf1re commented on #399
I am currently in need of this feature as well. If a PR would be accepted using the strategy @ksmithut suggests above then I can work on this. Before I work on that I would want feedback from the maintainers here.

[2017-05-26 15:41] joncursi opened #404 "Issues upgrading to graphql 0.10.0"
I upgraded to graphQL 0.10.0 and my clients stopped being able to communicate with my graphQL server (using express in Meteor). There is a silent failure, somewhere, and I can't track it down. There are two breaking changes in 0.10.0 that my app isn't infringing upon as far as I can tell:

[code]

Anyone else getting this?

[2017-05-26 21:07] strues commented on #404
I got a couple errors and decided to hold off until Apollo releases an update.

[2017-05-27 00:05] alankent opened #405 "Update reference to GraphIQL 0.9.1 to newer version?"
In https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-module-graphiql/src/renderGraphiQL.ts#L32 there is a hard coded reference to 0.9.1. I am having troubles with this version which look the same as https://github.com/graphql/graphiql/issues/356. Is there any reason not to upgrade to a newer version?

(I am trying to get GraphIQL to fetch the schema from a PHP Gra

[2017-05-28 10:09] akaNightmare opened #406 "update graphql peerDep to 0.10.x"
https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-express/package.json#L45

[2017-05-30 21:20] helfer commented on #406
#407 should take care of this. Will release shortly.

[2017-05-30 21:20] #406 closed

[2017-05-30 21:20] helfer commented on #404
Thanks for filing an issue @joncursi. #407 should take care of this. I will release a new version shortly.

[2017-05-30 21:20] #404 closed

[2017-05-30 21:20] helfer commented on #405
Thanks for filing an issue @alankent. #407 should take care of this. I will release a new version shortly.

[2017-05-30 21:20] #405 closed

[2017-05-31 15:02] pho3nixf1re opened #411 "Type defined more than once error"
After upgrading graphql to 0.10.1 I now see the error `Error: Type "MyType" defined more than once` when compiling my schema. This did not happen before the upgrade. This appears to only affect enum types. My schema is organized where each type definition imports the types it depends on. Example:

[code]

Notice that the enums are exported with the schema string. The `GameType` enum is used by sev

[2017-05-31 18:56] Shahor commented on #379
@batjko `Content-Type` must be `application/json`

I'm sorry, I would love to work on this but I can't find time right now.

[2017-06-01 13:49] emmanuelbuah opened #412 "Feature request: Expose graphiql so it can be customized i.e. add company logo etc"
The stock graphiql app is a good base/starting point but doesn't offer extension or customization. Developers/Teams might need to add Company Logo, Http Headers, ability to changing the graphql url etc. Graphiql was designed with customization in mind via the graphiql children components but the current implementation in Apollo abstracts way that customization.  It would be beneficiary to the comm

[2017-06-03 13:37] servermeta opened #413 "Context vs RootValue"
In graphqloptions, what is the difference between context and rootvalue?

When should I use one, and when should I use the other?

At the moment I'm attaching connectors and other sensitive data to the context, is this safe? Can the user read the context or the rootvalue of his queries?

[2017-06-03 16:54] stubailo commented on #413
Nope! the user can only read the fields you expose in the API, they can't see the context or rootValue directly.

Back in the day, `context` didn't exist, so `rootValue` was used for this stuff. These days, I think context is pretty much always the right thing to use.

Perhaps you could send a PR to the docs making this clearer!

[2017-06-03 16:54] #413 closed

[2017-06-03 17:36] solemidas opened #414 "Apollo Server supports only GET/POST requests."
I have a test server set up and when I try make a request to it, I get the error `Apollo Server supports only GET/POST requests.` I am testing locally using serverless online

[2017-06-05 10:23] cdelgadob commented on #397
Hi, I'm in the same page here. I'll tell you my plan, let's see it it makes sense to you:

All the users will be in a Cognito user pool, and put each user in the appropriate groups.

The there's a DynamoDB table matching Cognito user groups with GraphQL queries and mutations.

So the work of the Authenticator will be extract the Cognito user groups from the JWT token, the operation from the GraphQ

[2017-06-05 11:24] Siyfion opened #415 "Error - "Must provide document""
I'm having huge issues with sending large amounts of data to an Apollo mutation, as detailed here: https://github.com/apollographql/apollo-client/issues/1696 - I originally thought it was an apollo client issue.

After looking through the recommendations made in: https://github.com/apollographql/apollo-client/issues/1233

I tried implementing various additional CORS options, each with no success.

[2017-06-05 11:52] cdelgadob commented on #397
After reading, it seems that the custom authorizer only has information about the endpoint and who the user is, not the GraphQL query/mutation being invoked.

It seems that the way forward is to implement a viewer pattern as described [here](https://medium.com/the-graphqlhub/graphql-and-authentication-b73aed34bbeb) so the authorization would be inside the graphql server itself, and the JWT (or wha

[2017-06-05 23:16] greenkeeper[bot] opened #416 "An in-range update of chai is breaking the build 🚨"
## Version **4.0.2** of [chai](https://github.com/chaijs/chai) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/graphql-server/compare/greenkeeper%2Fchai-4.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      chai
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-06-06 11:12] danielglennross opened #417 "Error graphiqlHapi: custom plugins assigned to graphiql route will be ignored"
When registering `graphiqlHapi`, if plugins are assigned to the graphiql options route - such as:

[code]

they will be overwritten with the `graphiql` plugin rather than being merged when the route is configured.

The following line seems to be the source of the issue:
https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-hapi/src/hapiApollo.ts#L83

[2017-06-06 16:11] dalerka commented on #397
Thanks, Carlos! I'm still struggling to wrap my mind around AWS Cognito. Perhaps someone has already tackled these issues and can offer a sample code?
for reference, [some discussion here](http://forum.serverless.com/t/dynamodb-graphql-server-authorization-and-permissions-how-to-get-it-right/1823).

[2017-06-06 16:48] NeoPhi opened #418 "graphiqlOptions should support being called as a function that is passed the request"
We have a need to dynamically determine the `graphiqlOptions` that should be used on a per request. This would mirror the semantics of `graphqlOptions` supporting a function.

This approach could also be used to address https://github.com/apollographql/graphql-server/issues/399 by examining the incoming Host header to dynamically generate the `subscriptionsEndpoint` and/or `endpointURL`.

[2017-06-08 16:07] cdelgadob opened #419 "Get object type from FieldNode in a GraphQL validator"
I'm writing a authorization component to validate GraphQL queries.

Using the `ValidationContext`object I manage to get the operation type (mutation/query), operation name and the non-scalar field names contained in the query.

What I need is to get the GraphQL type of these non-scalar fields.

Here is the code I'm using for the validator (using Typescript):

    let entitiesArray:Array<string> =

[2017-06-09 20:26] pikelnys opened #420 "graphqlExpress has no way of accepting express request through context"
`express-graphql` passes the express request as a default value for `context`. This is very convenient when I want to do something such as check a user's authentication from the request header.

However, it does not appear that there is a way to get a handle on the express request object from inside a resolver when using `graphql-server-express`. Is there a specific reason you left this out? Am I

[2017-06-09 20:46] helfer commented on #420
@pikelnys if you want, you can pass the `request` object into the `context` that every resolver gets. you can do this in the function that returns the configuration. Something like this (copied from [here](http://dev.apollodata.com/tools/graphql-server/setup.html)) will do:

[code]

[2017-06-09 20:46] #420 closed

[2017-06-09 20:48] helfer commented on #418
@NeoPhi I think that's a great idea. Do you have time to make a PR that would allow both an object and a function as `graphiqlOptions`? 🙂

[2017-06-09 20:50] helfer commented on #415
Have you tried logging the full request on the server before passing it into the GraphQL part, just to see if everything is there? It could be that the request is somehow truncated because of the size, and thus no valid body is present, which would lead to the error message above.

[2017-06-09 22:21] helfer commented on #419
Hi @cdelgadob I think you'll be more likely to get an answer on the graphql-js repository, which is also where the [visitor](https://github.com/graphql/graphql-js/blob/master/src/language/visitor.js) that is used by validation rules is defined.

[2017-06-09 22:21] #419 closed

[2017-06-09 22:22] helfer commented on #417
Hi @danielglennross I'm not very familiar with hapi. Could you make an example of what should happen, and tell me what happens instead? If other people concur, it would be great if you could make a PR to fix the issue! 🙂

[2017-06-09 22:23] helfer commented on #414
Hi @solemidas. It may have to do with CORS, but it's a bit difficult to help you with this little information. I also think you'll be more likely to get an answer on the Apollo Slack channel or on stackoverflow, so I'll close the issue here! 🙂

[2017-06-09 22:23] #414 closed

[2017-06-09 22:25] helfer commented on #411
Hi @pho3nixf1re, I think this doesn't have anything to do with graphql-server, but it could be a bug in graphql-tools. Please open the issue on the graphql-tools repository. Thanks!

[2017-06-09 22:25] #411 closed

[2017-06-09 22:26] helfer commented on #402
Hi @phra I'd be happy to merge a PR that adds support for fastify :wink:

[2017-06-09 22:28] helfer commented on #396
@gauravmk I think that's a great idea. You'd have to make sure it works with Apollo Client's network interface though, because it's no use if the response is chunked but Apollo Client doesn't get the result until the entire response is back.

Maybe you could start with a PR to Apollo Server, and then one to Apollo Client to support the chunking on both ends of the transport? On the server there sh

[2017-06-09 22:28] #395 closed

[2017-06-09 22:29] helfer commented on #392
Hi @lednhatkhanh we don't currently have any good docs on rate limiting & co. If you have some thoughts on it, it would be great to write them down and share them with the community, as best practices are still emerging. 🙂

[2017-06-09 22:29] #392 closed

[2017-06-09 22:41] gauravmk commented on #396
Yep, I got a reference of it working in our codebase using a custom network interface. I got our server to respect a `serverKey` to piece together the query -> result on the client.

It uses the new fetch api but there's mixed support for it. Chrome natively supports and there are polyfills for some browsers, but others legitimately have no way of flushing partial responses predictably. I've only

[2017-06-09 22:42] gauravmk commented on #396
The way I did it for our server is `/graphql` uses the normal response. `/graphql/stream` gives you back a streaming version because the shape of the request and response aren't compatible with each other

[2017-06-10 08:30] solemidas commented on #414
Thanks, I found a way around it, the graphql-server-lambda uses `event.httpMethod` while the event uses `event.method`

[2017-06-11 02:35] phra commented on #402
here it is: #421

[2017-06-11 02:36] phra opened #422 "add node v8.x.x to travis"
node v8.x.x is out so it's better to add it on travis yaml configuration.

[2017-06-11 03:08] stubailo commented on #422
Mind sending a PR for that?

[2017-06-11 03:25] phra commented on #422
here it is: #423

[2017-06-11 04:10] #422 closed

[2017-06-12 09:54] danielglennross commented on #417
Looks like the situation will occur for both the `plugin` and `pre` route config options.
If a `graphiqlHapi` Hapi plugin is configured like:
[code]
These properties will be overwritten by the `plugin` and `pre` properties specified in the `Object.assign`, rather than merged with them.
So we get a Hapi route which ultimately looks like:
[code]
instead of:
[code]

[2017-06-12 11:58] ed-zm commented on #398
@stevezau I was trying to use this but I dont understand it at all. Are you closing the connection in all resolvers? BTW thanks for this.  I am hitting the same error

[2017-06-13 09:09] #315 closed

[2017-06-13 15:46] PierBover commented on #43
Has anyone worked out a more elegant solution to this problem other than joining everything by hand?

It's unrealistic to expect to have all types in the same file.

[2017-06-14 22:17] helfer commented on #417
Thanks for clarifying @danielglennross. Yes please, it would be great if you could make a PR to fix it! 🙂

[2017-06-15 08:28] danielglennross commented on #417
@helfer looks like the open PR that allows GraphiQLOptions to be passed as a function will also resolve this issue: https://github.com/apollographql/graphql-server/pull/426/files#diff-15d7de851dd7ea8c03559922a37d4904R95
Would you prefer just to merge that?

[2017-06-15 08:43] vmatekole commented on #43
same inquiry as @PierBover  here ...

[2017-06-16 03:51] helfer commented on #43
@PierBover @vmatekole we're having a conversation about schema merging/joining over on another repo, please come join us! https://github.com/apollographql/graphql-prism/issues/1

[2017-06-16 03:53] helfer commented on #417
@danielglennross sure, I'm hoping to merge that as soon as it's ready. Once we've merged it, we can hopefully close this issue! 🙂

[2017-06-16 11:08] vmatekole commented on #43
Thanks @helfer — I will join the conv. Incidentally, I came across this and currently giving it a spin — https://github.com/okgrow/merge-graphql-schemas. I haven't looked under the hood but on first use it appears to fulfil basic merging reqs.

[2017-06-20 18:54] greenkeeper[bot] opened #429 "An in-range update of npm-check-updates is breaking the build 🚨"
## Version **2.12.0** of [npm-check-updates](https://github.com/tjunnone/npm-check-updates) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/graphql-server/compare/greenkeeper%2Fnpm-check-updates-2.12.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      npm-check-updates

[2017-06-20 20:56] helfer commented on #429
Problem fixed itself after clearing cache and rerunning.

[2017-06-20 20:56] #429 closed

[2017-06-22 12:51] TdyP opened #430 "[Hapi] Allowed methods configuration (GET/POST)"
On the Hapi version of graphql server, allowed methods are [hardcoded](https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-hapi/src/hapiApollo.ts#L59).

I'm currently trying to implement upload with [apollo-upload-server](https://github.com/jaydenseric/apollo-upload-server) on Hapi and need to allow only `POST` requests (more details about that on this [issue](https

[2017-06-23 05:29] helfer commented on #416
Passes just fine now 🤷‍♂️

[2017-06-23 05:29] #416 closed

[2017-06-23 05:30] helfer commented on #415
Closing this, but feel free to keep discussing here if you still have this issue.

[2017-06-23 05:30] #415 closed

[2017-06-23 05:32] helfer commented on #412
Hi @emmanuelbuah, that's a great idea, but I think if you want to customize GraphiQL, you can use the actual original repo and just expose that on another endpoint yourself. I think that's probably the most general option, and it doesn't require any action on our part.

I'd be happy to reconsider if more people have a need to configure a specific thing.

[2017-06-23 05:32] #412 closed

[2017-06-23 05:33] helfer commented on #402
Hey, really sorry for the about-face, but after discussing with the team we think that the extra maintenance burden is not justifiable at this moment. I'd like to make it up to you though, so if you DM me on Twitter or on the Apollo Slack I'll make sure we send you some Apollo swag! :heart:

[2017-06-23 05:33] #402 closed

[2017-06-23 09:10] 39Er opened #432 "Error: Must provide document"
I want to use application/graphql requests,but I get this error.
In my code ,I have these related:

[code]
I think these are same as the Readme,but it doesn't work.
What's the problem?

[2017-06-23 16:29] cdelgadob commented on #305
Hi,

I've been trying different places where I could put the authorization logic, and the validation is the only point where is perfect, so it's not spread all over the graphql resolvers.

From my point of view, validation can be used to do all kinds of validations your server/logic needs to perform, even the permission check.

It's a central point that can be easily isolated, changed and with no

[2017-06-23 16:32] cdelgadob commented on #397
Hi @dalerka ,

Finally I ended up writing a custom validator to perfom the authorisation, which gets the operation and entities queried from the AST, and check them against the user's roles.

Roles and permissions are stored in DynamoDB tables, and the only thing I take from Cognito is the username. All the other permissions and stuff are in tables.

And it's working perfectly :)

Hope it helps

[2017-06-25 14:06] quirm opened #437 "Hapi: Authentication per resolver"
I have not found any working example/docs to use authentication per resolver on the server side with hapi. It's a bit impractical to set the authentication for all graphql requests as some resolvers should provide a different chunks based on users authorisation.

I'm using an httponly cookie based authentication and this is hapi config for graphql:
[code]

There is a validation function from hapi'

[2017-06-25 14:37] quirm commented on #437
Digging a bit further, would you accept a PR which is passing request as a part of `context` prop? A modified hapi handler would look like this:
[code]

I would prefer the whole request in case there are other properties which could be accessed but are filtered by runHttpQueryWrapper.

[2017-06-25 22:51] Layvier commented on #437
Hi, thanks for this great library.
I am running into the same issue here, and passing the whole request object would definitely be better.

[2017-06-26 06:41] erezool commented on #381
I'm experiencing the same issue and **it's critical bug**!

Attached is an example of reference implementation VS. Apollo.
Do:
`yarn install`

To start the reference implementation (accessible on [http://localhost:3000/graphql](http://localhost:3000/graphql))
`yarn start-reference`

To start the Apollo server implementation (accessible on [http://localhost:3000/graphiql](http://localhost:3000/grap

[2017-06-26 11:54] quirm commented on #437
Context prop is actually a suggested approach for such a thing as mentioned by Dan Schafer at https://youtu.be/etax3aEe2dA?t=989.

There was a change to pass a request by defining `graphqlOptions` as a function.

From this:
[code]

I can use this:
[code]

It seems unusual to temper with GraphQLOptions just to manually enhance it by a request to get it in a resolver function. That needs some knowle

[2017-06-26 15:31] smolinari commented on #437
With GraphQL, you are better off authorizing the user before the GraphQL queries are processed.

http://graphql.org/learn/serving-over-http/#web-request-pipeline

Scptt

[2017-06-27 18:08] greenkeeper[bot] opened #438 "An in-range update of typescript is breaking the build 🚨"
## Version **2.4.1** of [typescript](https://github.com/Microsoft/TypeScript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/graphql-server/compare/greenkeeper%2Ftypescript-2.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      typescript
    </td>
  </tr>
  <tr>
    <t

[2017-06-27 19:22] #391 closed

[2017-06-28 15:15] danielglennross commented on #417
@helfer can confirm this issue is resolved in `graphql-server-hapi@0.9.0`

[2017-06-28 18:15] #417 closed

[2017-06-28 21:19] #235 closed

[2017-06-28 21:19] #218 closed

[2017-06-28 21:20] helfer commented on #206
I _think_ we throw a better error now.

[2017-06-28 21:20] #206 closed

[2017-06-28 21:21] helfer commented on #232
We still don't have readmes here. Would be great if someone could create them!

[2017-06-28 21:21] #118 closed

[2017-06-28 21:22] helfer commented on #295
I still think this would be neat to implement.

[2017-06-28 21:23] helfer commented on #222
I think @Urigo's solution will do for now.

[2017-06-28 21:23] #222 closed

[2017-06-28 21:24] helfer commented on #34
Closing this for now, but we can keep the discussion going.

[2017-06-28 21:24] #34 closed

[2017-06-28 21:25] #299 closed

[2017-06-28 21:27] helfer commented on #331
@gajus I know it's been a while, but I think it's still worth asking: is what you want essentially to be able to provide a custom serialization function?

[2017-06-28 21:28] #332 closed

[2017-06-28 21:28] #365 closed

[2017-06-28 21:28] helfer commented on #229
Closing this for now. We can continue the discussion on apollographql/apollo.

[2017-06-28 21:28] #229 closed

[2017-06-28 21:29] helfer commented on #272
Closing this for now as we've gone into a different direction for now 🤷‍♂️

[2017-06-28 21:29] #272 closed

[2017-06-28 21:30] helfer commented on #371
Hey @thebigredgeek, let us know if you've built something in this direction. I think it could be interesting for people who want something like it.

[2017-06-28 21:30] #371 closed

[2017-06-28 21:30] helfer commented on #373
Closing in favor of #232.

[2017-06-28 21:30] #373 closed

[2017-06-28 21:31] helfer commented on #380
I think this could be really neat!

[2017-06-28 21:32] helfer commented on #384
Hey @trotzig, let us know if you want to PR that fix!

[2017-06-28 21:32] #393 closed

[2017-06-28 21:32] #378 closed

[2017-06-28 21:33] helfer commented on #387
I think this is fixed now.

[2017-06-28 21:33] #387 closed

[2017-06-28 21:34] helfer commented on #399
Should be possible now with #418.

[2017-06-28 21:34] #399 closed

[2017-06-28 21:35] #418 closed

[2017-06-28 21:37] helfer commented on #432
Hey @39Er, I think this is related to #379, let's track it there.

[2017-06-28 21:37] #432 closed

[2017-06-28 21:38] helfer commented on #430
Hi @TdyP, I don't know hapi very well, but is it possible to put a middleware in front of the graphql endpoint that would reject GET requests?

[2017-06-28 21:40] helfer commented on #397
I think this question/discussion would be better for stackoverflow.

[2017-06-28 21:40] #397 closed

[2017-06-28 21:44] helfer commented on #381
Thanks @antogyn and @erezool. We can probably fix this relatively quickly and have the same behavior as express-graphql by wrapping a `try/catch` around the whole execution block and returning any error thrown inside the `errors` array.

[2017-06-28 21:46] helfer commented on #437
@quirm manually putting the request on the context if you need it is exactly what I would recommend. It's better to pass things explicitly, because that keeps things neatly separated.

[2017-06-28 21:46] #437 closed

[2017-06-29 01:01] VladShcherbin opened #439 "graphiql koa 0.9.0 Error: Can't set headers after they are sent"
After updating to graphql-server-koa 0.9.0, there is an error when trying to use graphiql. Graphql itself is working. No error in 0.8.5.

[code]

Updated packages:

[code]

Env:

- node 8.1.2
- mac os 10.12.5
- koa 2.3.0
- koa-router 7.2.1
- koa-bodyparser 4.2.0

Code:

[code]

[2017-06-29 01:34] #438 closed

[2017-06-29 05:40] helfer commented on #381
Hey @antogyn, I made a PR with a failing test case in #441 trying to fix this. As I was doing it I noticed that this is not an issue with graphql-server but with `graphql-js`. May I suggest you check for an issue in that repo, and if it doesn't exist open a new one there? Thanks!

[2017-06-29 06:53] helfer commented on #232
Will be fixed in #442

[2017-06-29 06:53] #232 closed

[2017-06-29 06:58] helfer opened #443 "Figure out how to keep dependencies up to date"
Doesn't look like greenkeeper is inclined to provide this functionality: https://github.com/greenkeeperio/greenkeeper/issues/139

[2017-06-29 08:16] trotzig commented on #384
It's already been merged (in https://github.com/apollographql/graphql-server/pull/390) I believe.

[2017-06-29 13:13] gajus commented on #331
I have done that by adding a postprocessor of the response, i.e. decoding the generated JSON and re-serializing as needed.

[2017-06-29 13:14] gajus commented on #331
I'd close this issue as non-priority as there are simple workarounds.

[2017-06-29 16:28] TdyP commented on #430
@helfer
Unfortunately no. Hapi just crashes if I add some POST-related configuration (like payload) on a route where GET is allowed. The error comes up when server is started, before any request may come in.

[2017-06-29 18:24] helfer commented on #331
Ok, thanks!

[2017-06-29 18:24] #331 closed

[2017-06-29 22:36] hmontes opened #444 "Theme support for graphiql"
How can apply themes to graphiql? https://github.com/graphql/graphiql#applying-an-editor-theme

http://dev.apollodata.com/tools/graphql-server/graphiql.html

Thanks

[2017-06-29 23:36] helfer commented on #384
Ok great, in that case I'll close the issue!

[2017-06-29 23:36] #384 closed

[2017-06-30 03:07] hmontes opened #445 "Graphql Voyager"
It's only an idea.

Do you know https://github.com/APIs-guru/graphql-voyager ?

It's an amazing tool! Can you include this tool in graphql server like Graphiql. It's more complete, interactive  and is more easy to document.

[2017-06-30 04:34] stubailo commented on #445
I think it should be possible to include it as a module just like we have GraphiQL today! Would be cool to work on a PR for that :]

[2017-06-30 06:30] DxCx commented on #444
we can add support for that but its not supported at the moment (pretty cool first time I'm seeing this to be honest)

[2017-06-30 06:43] DxCx commented on #439
is that still happens on version 1.0.0?
anyway, this is the diff between the versions:
https://github.com/apollographql/graphql-server/commit/0d5add048ebdfb14da44faff7ad6e09a027d1b3d

@NeoPhi can you take a look at that?

[2017-06-30 07:33] VladShcherbin commented on #439
@DxCx yes, this also happens on 1.0.0.

I think, *await* is missing in graphiql resolution somewhere [here](https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-koa/src/koaApollo.ts#L54).

[2017-06-30 15:30] j0nd0n7 opened #446 "Pre resolver traversing phase to plan the whole query to be send to the db?"
In my experience with GraphQL+Apollo with MongoDB, I always try to avoid sending to the DB multiples queries to resolve a graphql query, every time I can.

In my opinion, the actual design of resolvers do not promote the building of an optimal db query without coding a traversal very similar to the one that resolvers make.

It would be very useful to include an optional pre resolver traversal fase

[2017-07-01 16:26] Isigiel opened #448 "ExpressGraphQLOptionsFunction does not guarantee req input"
`export interface ExpressGraphQLOptionsFunction {
    (req?: express.Request, res?: express.Response): GraphQLOptions | Promise<GraphQLOptions>;
}`

The interface implies that req could be undefined. Is this correct and how should an undefined request be handled?
I use it to store login data and to use optics.

If this is a mistake please fix it, as it keeps erroring on compiling.

[2017-07-01 18:08] morgs32 commented on #155
@DxCx @helfer I'm trying to do this, serialize the query back together from the `info` argument - if you know off the top of your head a way to do this, please share!

[2017-07-02 18:34] bwlt opened #449 "graphql-server-micro with graphiql issue - "Can't set headers after they are sent""
The example [on the README.md](https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-micro/README.md) does not work.
When calling `GET http://localhost:3000/graphiql` it responds 404 instead of serving the graphiql html app.
On console output there is an error message:
[code]

I think that on [this line](https://github.com/apollographql/graphql-server/blob/master/pack

[2017-07-04 21:34] ksmithut commented on #399
For posterity, this is now possible:

[code]

[2017-07-05 10:40] RayzRazko commented on #381
@helfer I just checked ith graphql 0.9.6 and still getting "Unhandled promise rejection". The problem appeared after update from old apollo server versions to the latest.

[2017-07-05 19:36] greenkeeper[bot] opened #450 "An in-range update of tslint is breaking the build 🚨"
## Version **5.5.0** of [tslint](https://github.com/palantir/tslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/graphql-server/compare/greenkeeper%2Ftslint-5.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-07-05 23:05] urbanvikingr commented on #379
@batjko

Have you tried something like:
[code]

This works for the [apollo-tutorial-kit](https://github.com/apollographql/apollo-tutorial-kit) sample.

[2017-07-05 23:30] zachariahtimothy commented on #448
I am curious about this as well. When I run queries and mutations from the graphiql page the first argument in the resolver is undefined. Seems like this should be the request object which I require for authentication.

[2017-07-06 03:53] helfer commented on #381
@RayzRazko it's possible that you need to use an even earlier version.

[2017-07-06 21:31] mjgallag opened #452 "Implement passConnectionParams (e.g. passHeader) for subscriptionsEndpoint"

[2017-07-06 22:41] djbelcher commented on #379
@urbanvikingr

I'm having the same problem as @Shahor, calls using Content-Type "application/graphql" and a normal graphql request body return 500 with Error: Must provide document.

Calls using Content-Type "application/json" using a json request with the graphql inside the query field work as expected.

[2017-07-07 14:39] Durisvk opened #453 "Reply error when no apiKey is present in header"
I simply want to reply an error if the `secureGuard.authenticate` returns null.. How could I do that?

Here is more info about the issue:
https://stackoverflow.com/questions/44971710/check-every-request-apollo-server-and-return-error-for-missing-apikey

[2017-07-07 18:54] jimthedev commented on #449
I am using them together right now and I ran across this. You can work around it by adding a single 200 route. I didn't investigate further but I added this to my routes and voila everything worked.

[code]

[2017-07-07 19:04] jimthedev commented on #449
Docs PR change submitted.

[2017-07-08 00:07] asiandrummer opened #455 "GraphiQL module updates null/undefined values in window.history"
First came up in https://github.com/graphql/graphiql/issues/234. [This code](https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-module-graphiql/src/renderGraphiQL.ts#L89-L94) should probably be changed to reflect [the fix from GraphiQL](https://github.com/graphql/graphiql/blob/master/example/index.html).

[2017-07-08 10:15] dacz opened #456 "lambda - extremely long running time fix"
I'm working on mid size project project with graphQL and we are working toward being fully on aws and where applicable on lambdas.

When adopting the codebase for lambda I saw strange issue. Init phase (schema parsing, db connecting etc.) of lambda was done within 400ms, the request itself was done in 400ms approx (this leaves response time for repeated requests to approx 400ms.

But I constantly

[2017-07-08 19:09] Ibrahim9595 opened #457 "Graphiql doesn't work"
I've setup the graphql-tools from Apollo and the graphiql doesn't show results it gives me plain html any idea how to fix this

[2017-07-10 06:29] willin opened #458 "koa-server-koa bug: NO SCHEMA AVAILABLE"
source code:  <https://github.com/willin/start-grahql-server>

same code, successfully run in `graphql-server-express`,

`NO SCHEMA AVAILABLE` in `graphql-server-koa`

[code]

![express](https://user-images.githubusercontent.com/1890238/28005206-00ec897c-650f-11e7-9afa-7aed8797049a.png)

[code]

![koa](https://user-images.githubusercontent.com/1890238/28005224-173a83fa-650f-11e7-8b57-622e1426247e.

[2017-07-10 08:18] bwlt commented on #449
I'm not sure that the PR is the correct resolution of the problem. It fix only the README example with a workaround :(

[2017-07-10 08:48] freiksenet commented on #449
I'll reopen the issue, it was auto-closed. PRs to fix it properly are very welcome.

[2017-07-10 09:17] bwlt commented on #457
is it like the #449 issue ?

[2017-07-13 09:40] vtahlani opened #460 "Any update on @defer"
Is there any update and example for defer with graphql-js

[2017-07-13 10:52] DxCx commented on #460
not officially supported yet in GraphQL-JS.

[2017-07-13 15:12] stubailo commented on #460
Going to close this since there is no update.

[2017-07-13 15:12] #460 closed

[2017-07-13 19:00] chrissm79 opened #461 "Batched queries result in undefined context"
Not sure when this started but when I send a batched query it results in an `undefined` context. Using Apollo Client, if I use `createNetworkInterface` my queries run just fine, but when switching to `createBatchingNetworkInterface`, my server errors out with `cannot call authorized on undefined`.

I'm using `graphql-server-express`

[2017-07-17 05:24] chemdrew opened #462 "return next() on route completion"
In order to chain pre and post completion middleware the next keyword must be called in all steps along the way. This is mostly valid for Express projects as a way to simulate Restify's 'after' event.

[code]

I'll attach a PR to this issue as well, since it's a super simple and unobtrusive change and we can discuss from there!

Thanks

[2017-07-17 10:36] freiksenet commented on #462
Merged. Thanks a lot!

[2017-07-17 10:49] freiksenet commented on #461
Hi!

Thank you for the report. I wonder if you have a bigger repro case for this? I've tried running multiple queries and it seems to be working properly on my side.

Thanks!

[2017-07-17 10:55] freiksenet commented on #458
Hi!

Your config for graphiqlKoa is not correct, it should have `endpointURL` instead of schema, like following:

[code]

[2017-07-17 10:55] #458 closed

[2017-07-17 19:03] ravishivt opened #464 "Add a migration guide for users to switch from express-graphql"
It would be nice to provide a document to help users transition from express-graphql over to graphql-server.  If such a document (including third party articles or blog posts) already exists, we could add that to the README.  I was not able to find one.

[2017-07-18 10:18] helfer commented on #464
Hi @ravishivt

Yeah, we could definitely add that to the readme. IIRC the only differences are that `graphiql` runs on a different path, there's no option to pretty print and instead of `extensions` (which almost nobody uses) people have to use `formatResponse`.

PS: That reminds me that we should probably deprecate `formatResponse` in favor of some more limited function like `extensions`.

[2017-07-18 15:29] chrissm79 commented on #461
Well, the query itself runs just fine but the context is undefined which is something I rely on to hold the current user. Attached some screenshots below, you can see that the only difference between the requests is wrapping the second in array brackets. It makes its way to the resolver but the context isn't set so it throws an error.

<img width="1079" alt="screen shot 2017-07-18 at 9 25 41 am" s

[2017-07-18 17:59] farzd commented on #449
i'm getting this as well

[2017-07-18 20:41] chrissm79 commented on #461
Jumping in and out of this project today but I might have found the issue. My context is a class (similar to [this project](https://github.com/w3tecch/express-graphql-typescript-boilerplate/blob/629daa226d73da6abdc2cfe8f62f805745a4679c/src/routes/GraphQLRoutes.ts#L34-L38)). If I use a plain object instead, it seems to work I just haven't had time to fully test.

[2017-07-18 23:25] thebigredgeek commented on #371
I think we might be building and releasing this over here at Collective. We'd love your help @helfer and @stubailo !

[2017-07-19 07:41] shkurkin commented on #457
I just ran into this. The fix for me was that I hadn't set the endpointURL correctly.

before (broken, just seeing lots of red html in the results box)
[code]

after (fixed)
[code]

[2017-07-19 15:06] Samueljoli opened #469 "With runtime typeError a statusCode of 200 is surfaced"
**Versions**
- Hapi - `16.x.x`
- graphql-server-hapi - `1.x.x`
- Node - `v6.5.0`

**Issue**
Unless I add the config option of `formatResponse` if I encounter a typeError in my internal server logic I will get back a statusCode of `200`. When I add `formatResponse` a 500 will surface as expected.

### Reproduce Error
- Deliberate TypeError, statusCode of `200` is sent back to Client
[code]

- Delib

[2017-07-19 15:35] mfsinareshe opened #470 "Working @defer example"
Hi Team,

Can you please share a blog/codebase showing the implementation of directives (defer, live and stream) in graphql?

[2017-07-19 15:56] DxCx commented on #470
they are not offically supported by graphql-js

[2017-07-19 15:59] mfsinareshe commented on #470
Thanks for quick response!
So there are no publicly available implementation details and examples?

[2017-07-19 16:22] stubailo commented on #470
Not that I know of, unfortunately. Certainly not widely used ones.

[2017-07-19 16:22] #470 closed

[2017-07-19 16:48] joncursi opened #471 "Error: Can't set headers after they are sent"
Every time I make a graphql query from my client, the server console outputs:

[code]

The data arrives fine on the client, but I keep getting this error spit out on the server console. It only happens on graphql queries (I'm using Apollo client and Apollo server). I'm not sure where to start since there is no stack trace, so I figured I would start here and see if anyone has any ideas on what's g

[2017-07-19 19:19] cfnelson commented on #471
@joncursi I was having a similar issue `Error: Can't set headers after they are sent.` after clearing my `node_modules` and reinstalling.

I was able to resolve it by installing `"graphql-server-express": "1.0.0",`. Something is breaking on  `"graphql-server-express": "1.0.2",` for me.

[2017-07-19 19:43] chrissm79 commented on #461
Confirmed that it is indeed due to the context being a class and not a POJO. If this is expected behavior just let me know and I'll close the issue. Otherwise, I can rename the issue to something more relevant and if time prevails I'll submit a PR to allow for the context to be set to a class (maybe by requiring a factory function that's called on each request?). Thanks!

[2017-07-19 21:48] mklopets commented on #471
Can you provide a reduced test case for your setup that throws this error?

[2017-07-19 22:11] mklopets commented on #456
Is there any reason against using the context methods (`context.succeed` and `context.fail`) instead of the callback in apollo-server-lambda? Probably just because the callback is the newer API? Ending execution using the context methods doesn't wait for the event loop to be empty.

But, to try and fix the root problem:

You mentioned running of a http server *on* the Lambda... I'm not familiar wi

[2017-07-19 23:14] soda0289 commented on #456
One more thing to add. If you use Lambda and a database connection or redis connection that doesn't close that might cuase the lambda function to not respond.

In the Lambda Context object there is a property `callbackWaitsForEmptyEventLoop` that can be used to respond right away when using a callback to to respond.

More info here: http://docs.aws.amazon.com/lambda/latest/dg/nodejs-prog-model-con

[2017-07-20 08:30] dacz commented on #456
@soda0289 thank for your comment. I'm aware that db connection may be the problem, but because of common usage, I do not think this is the case. Even when I'll run lambda with direct SQL command, lambda finishes immediately.

I'm aware about the `callbackWaitsForEmptyEventLoop` as you may see in my issue and it was generally important part of the question/issue here (if this should not be document

[2017-07-20 09:00] dacz commented on #456
@mklopets Thank for your questions. As you can see I do not use `context.succeed` or callback. I set up lambda handler exactly how recommended by `apollo-server-lambda` and I do not directly call callback or context methods. If calling the context methods instead of callback should finish execution, it should be probably used in the lambda lib.

According to httpServer - I came very shortly throug

[2017-07-20 10:09] freiksenet commented on #461
Hi!

Yeah, the context is copied by doing `Object.assign({}, context)` so that a new version of context is used in each batch (in case it's mutated). It does break for class-like contexts.

So there are two options on how to proceed here. We could create a context via context function every time we create a batch job, but this might be inefficient in case context creation is somehow expensive. How

[2017-07-20 13:14] VladDubrovskis commented on #471
We run into similar issue and rolled back to v1.0.0 for now. It seems to be caused by this change:
https://github.com/apollographql/apollo-server/commit/3d03295974f08ccf917cfc2e06122eb328b204ab#diff-93774063e5fc49e60474cd9b82249731

Our use case that was breaking, is that we had a 404 middleware, however as res.end() was called by GraphQL, the 404 middleware was throwing error.

In theory, any mid

[2017-07-20 17:00] helfer commented on #461
Another alternative would be to explicitly say that the context should not be mutated, which would let us skip the `assign` step. Although we should probably check why it was introduced in the first place before we do that.

[2017-07-20 18:51] coopnd commented on #402
Hi!  I love Apollo and am falling in love with fastify and was sad to see this wouldn't be supported in the near future.  I tried out an implementation as a plugin, so if anyone has an interest in using these things together, [by all means do](https://github.com/coopnd/fastify-apollo).  Hope you guy's are happy with it!

[2017-07-20 18:57] phra commented on #402
@coopnd big up! 🎉 i didn't have time in these weeks to work on the plugin.

[2017-07-20 20:04] liyucun opened #472 "[apollo-server-restify]: restify is outdated"
The current restify version is outdated. Since its type def changed a little bit, the current demo example doesn't work. It will throw type errors for `  server.post("/graphql", graphqlRestify(graphQLOptions))`:

[code]

I would love to do a quick update PR on this, and please let me know if you guys currently work on it.

[2017-07-21 10:07] ArnaudRinquin commented on #471
Our app spits the same error after upgrading to 1.0.2 but, surprisingly, it does not break anything.

Here is the stack-trace:

[code]

Meaningful versions:

[code]

[2017-07-21 12:09] goldo commented on #471
same for us here ! Thanks the tip

[2017-07-21 12:37] yuricamara opened #473 "How do I set HTTP response status code?"
Hi,

I am working with graphql-server-express and I didn't discover a way to do this.

Thanks.

[2017-07-21 16:36] martijnwalraven commented on #472
Thanks for letting us know. I don't think anyone is currently working on this, so a PR is definitely welcome!

[2017-07-21 16:43] martijnwalraven commented on #473
Can you explain what your use case is for setting the HTTP status code manually?

The current code does set the status code for various error responses (see [runHttpQuery.ts](https://github.com/apollographql/apollo-server/blob/master/packages/apollo-server-core/src/runHttpQuery.ts)), but I'm not sure under what other circumstances you would want to return anything other than 200.

[2017-07-21 16:45] #450 closed

[2017-07-21 16:49] martijnwalraven commented on #452
Could you add some more context for this issue?

[2017-07-21 16:50] martijnwalraven commented on #453
It seems like this was answered on StackOverflow.

[2017-07-21 16:50] #453 closed

[2017-07-21 18:22] yuricamara commented on #473
It could be nice if I could send 201 (resource created) and 204 (No Content).

For erros I usually use mainly:
401- Unauthorized
404- Not Found
409- Conflict
422- Unprocessable Entity

How do I set the status code error manually to the response?

[2017-07-21 18:36] Durisvk commented on #453
@martijnwalraven No it was too stupid answer because it doesn't answer anything... Guy just pointed out the fact that my comment is not a valid syntax (which I know - it was just a comment - not an actual code...). So I decided not to use apolloServer because it doesn't provide a mechanism for checking the apiKey and I decided to create my own package which solves that and many other things I need

[2017-07-21 18:43] martijnwalraven commented on #473
Although GraphQL requests are usually sent over HTTP, GraphQL doesn't really map to HTTP semantics, so it seems status codes are of limited use. I don't know of any clients that would care about the difference between 200, 201 or 204 for example. And with alternative transports like WebSockets, there is no way to send status codes per GraphQL request at all.

Do you have a real use case for this,

[2017-07-21 18:50] yuricamara commented on #473
This is mostly because I´m used to setting status codes when using REST. :-)

But, ok! It is not really a must for me.

Thank you for your reply.

[2017-07-21 20:11] ericclemmons commented on #461
I'm using a class for Context, and ran into similar issues.

I had no idea that was the culprit.

I agree that we should look into why the POJO assumption exists.

[2017-07-22 01:38] dcworldwide opened #476 "Possible to get query fields?"
Sorry, I couldn't understand whether this was possible from the docs. I need to use the fields specified in the GQL query. I'll use this array of fields to limit the data returned from my database.

[2017-07-22 01:58] dcworldwide commented on #476
I've posted an answer here

https://stackoverflow.com/questions/40687045/apollostack-graphql-server-how-to-get-the-fields-requested-in-a-query-from-res/45249870#45249870

[2017-07-22 01:58] #476 closed

[2017-07-22 08:37] jacobbogers commented on #295
Hi, anyone working on this already, can I help out or I will start myself

[2017-07-22 15:04] IvanGoncharov commented on #445
@hmontes @stubailo Thanks to  @steplov Voyager npm package now includes middleware for Express, Koa and Hapi. Docs are here: https://github.com/APIs-guru/graphql-voyager#middleware

[2017-07-22 22:04] Friss commented on #471
Here's a small example of the error. Any middleware after the your GraphQL endpoint will hit, such as 404 / error handlers. These handlers are also generated part of the express generator.

https://gist.github.com/Friss/90604b5f53ad4bb38146a8f49c730c13

[2017-07-23 14:11] jskorepa opened #479 "Default field resolver"
https://github.com/graphql/graphql-js/pull/865 added ability to specify default field resolver. Is there any way to use it with apollo-server?

[2017-07-24 07:21] stubailo opened #480 "Send a PR to update How To GraphQL"
https://github.com/howtographql/howtographql uses `graphql-server-express` right now.

[2017-07-24 07:48] freiksenet commented on #462
Reopening. There seems to be a disagreement whether that's the best practice for middlewares that are endpoints. However I do feel the use case that @chemdrew made is valid.

Pinging @Friss and @rafrex

[2017-07-24 07:56] freiksenet commented on #471
We've reverted the patch that caused the problems. I'm very sorry for any inconvinience!

[2017-07-24 07:56] #471 closed

[2017-07-24 11:15] freiksenet commented on #479
I started working on this, this needs some updates to DefinetelyTyped GraphQL Typescript definitions, I'll make them and then the PR can be merged. https://github.com/apollographql/apollo-server/pull/482

[2017-07-24 11:22] marktani commented on #480
I merged the PR 🙂

[2017-07-24 11:30] freiksenet commented on #479
Waiting on https://github.com/DefinitelyTyped/DefinitelyTyped/pull/18346

[2017-07-24 11:35] freiksenet commented on #473
This seems resolved, so I'm closing this issue.

[2017-07-24 11:35] #473 closed

[2017-07-24 12:45] #457 closed

[2017-07-24 12:50] freiksenet commented on #461
I've been thinking about this over the weekend. I think we should definitely remove the copying, because  it doesn't really solve the problem, just makes it seem not there for trivial stuff.

I'll write out basic assumptions and ideas about this.

We naturally want batched queries to be executed *exactly* like the non-batched query, in a way that the results should be the same. The only thing that

[2017-07-24 13:07] Friss commented on #462
I agree that it's a valid use case but only if you know it will happen.

If it was configurable and off by default I think it would be a good change.

[2017-07-24 14:12] chemdrew commented on #462
I’m good with it being configurable, that makes sense to me. At least then the behavior is explicit.

If we make this change here we should also take a look at the restify package as well

[2017-07-24 14:30] schwer opened #483 "Exceptions produced during the execution of graphqlOptions function are not logged"
I have the following code initializing the graphiql capability:

[code]

I observed that when visiting the graphiql page, and when the `dataLoaderBuildingFunc` produces an exception, the exception and error message are swallowed and a rather inspecific error message is produced: `Invalid options provided to ApolloServer: ...`.

Providing a logging function to the `makeExecutableSchema` function di

[2017-07-24 17:37] rafrex commented on #462
I agree w/ @Friss - it's a valid use case. I think making it configurable and off by default is a good solution.

[2017-07-24 22:55] mjgallag commented on #452
See https://github.com/apollographql/apollo-server/blob/20722fddf2d985efa0fd4f31c827aa2c09b4cce0/packages/apollo-server-module-graphiql/src/renderGraphiQL.ts#L17, we need similiar functionality in order to use authenticated websockets in GraphiQL

[2017-07-25 12:51] #444 closed

[2017-07-26 00:44] VladShcherbin commented on #439
This was fixed.

[2017-07-26 00:44] #439 closed

[2017-07-26 08:20] lagmanzaza opened #486 "I got error from graphiql when I use variable parameter"
![777](https://user-images.githubusercontent.com/5283709/28611416-eefe0e8e-7215-11e7-831a-46342fe2fc08.PNG)

[2017-07-26 08:54] freiksenet opened #487 "Uncaught exception when response is undefined"
In case of an error in formatResponse function, which would cause it to return undefined, we produce internal server error due to uncaught exception (at least with Hapi). We should probably provide a more helpful error in this case.

Test case:

[code]

[2017-07-26 08:55] freiksenet commented on #469
Thank you for the report!

GraphQL servers don't typically return HTTP response codes in case of failure, they return the errors as `errors` field in the response. So not returning 500 is an expected behaviour.

However, there seems to be a bug in the lib that causes the server to crash when the `formatResponse` returns undefined, like in the second case here. I've added an issue for this [#487](h

[2017-07-26 08:55] #469 closed

[2017-07-27 20:36] doomsower opened #488 "Inconsistent behavior when throwing error in query resolver"
Here is an example: https://launchpad.graphql.com/9wq4q70qr

Lets say I have simple query resolver which just throws (e.g. because user is not authorized):
[code]

When query result type is non-nullable, like in this example
[code]
The output does not contain `hello` field:
[code]

When I change `hello` result type to be nullable:
[code]
then the output contains `hello` field:
[code]

This looks w

[2017-07-28 21:06] ffxsam opened #489 "Why does auto-fill/complete fill in nullable fields?"
Given the following schema:

[code]

I type the following in GraphiQL:

[code]

And when I run the query, `things` expands:

[code]

This strikes me as a bit odd. Why would the nullable fields populate, instead of the non-nullable ones?

[2017-07-28 21:09] stubailo commented on #489
This sounds like an issue with GraphiQL - maybe better to file it there! https://github.com/graphql/graphiql

[2017-07-28 21:09] #489 closed

[2017-07-31 10:06] #480 closed

[2017-08-03 15:55] Samueljoli commented on #469
@freiksenet Ahhh Yeah I've definitely read up some more on the technology that is graphql and it's definitely a shift in thinking when it comes to api development. I'll look into issue 487. Also do you guys/gals think it would be helpful if we introduced framework specific labels?

[2017-08-03 16:02] Samueljoli commented on #445
@IvanGoncharov That's awesome! So is it still viable to bring this feature into the codebase?

[2017-08-04 04:24] stubailo commented on #445
That's awesome! I think it would be cool to have some kind of integration - like maybe we can make it so that you can just configure graphiql/voyager once, rather than having two middlewares?

[2017-08-05 18:56] nscarlson commented on #380
+1

[2017-08-07 23:17] mariog712 opened #494 "Graphiql error highlighting broken"
I recently updated my apollo server from 0.7.2 to 1.0.5.

It appears that syntax error highlighting in the graphiql query editor component has stopped working. The error highlighting in the query variable component still works.

From what I can tell this stopped working in apollo server v0.8.1. That was the first version of apollo server using graphiql 0.10.2. That version of graphiql switch over

[2017-08-08 10:10] Siyfion opened #495 "Source files missing from NPM server-lambda package"
Essentially, I'm not sure if this was done on purpose (to save package size), or by accident.

In the NPM package for `apollo-server-lambda` there is only a `/dist/` directory. The issue with this is that if you want to step through the code, the `/dist/lambdaApollo.js.map` file references the `/src/lambdaApollo.ts` file, which isn't there! Due to there being a map file and a reference comment how

[2017-08-08 12:41] viiiprock opened #496 "[Need help] User registration email verify with apollo-server-express"
I'm working on registration with `graphql`, `apollo-server-express`. My flow is:
1. User submit user name, email and password.
2. Server send an email to user (mailgun-js) with unique link.
3. User follow the link to verify the registration.
Example: user follow the link url =  `/verified?:token` the *token* is generated by `uuid`
And I got stuck at the step that user follow link and the server wi

[2017-08-08 14:56] JeffML opened #498 "Passing fragment definitions to the server"
If I define a fragment inside the schema I pass to  the server, it seems to parse but I can't access it from graphiql later. Is there a way to pass predefined fragments to the server so that a client can use these in queries?

server.js
[code]
schema.js
[code]

[2017-08-09 03:02] scf4 opened #499 "Question: Arrow function resolvers much slower than regular functions"
I'm trying to diagnose why I'm getting such terrible performance with my server.

I noticed even resolvers as simple as this are taking several milliseconds to resolve:

<img width="545" alt="screen shot 2017-08-09 at 03 58 22" src="https://user-images.githubusercontent.com/768234/29103353-0311928c-7cb7-11e7-8201-d354e4be50b0.png">

apollo optics:

<img width="413" alt="screen shot 2017-08-09 at 0

[2017-08-09 12:15] ulrikstrid opened #500 "add another backend"
If I wanted to implement another backend for Apollo server how would you want me to do that? Create a separate repo and add it to npm or should I fork this repo and create a PR?

[2017-08-09 12:36] jamsheer-thottathil commented on #494
Any update regarding this issue  ?

[2017-08-09 12:39] martijnwalraven commented on #500
If it's generally useful, a new `apollo-server-` package in this repo sounds great! What backend are you interested in implementing?

[2017-08-09 12:44] martijnwalraven commented on #496
This isn't really an issue specific to `apollo-server-express` or even Apollo Server, and it's also more of a usage question than anything actionable. Closing this, because I think the best venue for this would be the [Apollo Slack](http://www.apollodata.com/#slack).

[2017-08-09 12:44] #496 closed

[2017-08-09 14:10] Siyfion commented on #456
@soda0289 is there a recommended place to close my DB connection, as I'd like to try this method first.

[2017-08-09 14:30] soda0289 commented on #456
@Siyfion I think we should change the Lambda server to set `callbackWaitsForEmptyEventLoop` to true. In all my lambda functions I setup the database in the outer/global scope and let a connection pool handle timed out or closed connections. This way we do not have to wait for a database connection to initialize per request and can instead have connections ready to go.

[2017-08-09 14:31] Siyfion commented on #456
@soda0289 agreed. In addition to this, it's also worth noting that adding as much of your schema generation code in the outer/global scope also will lead to _much_ faster warm-start response times.

[2017-08-09 15:09] dacz commented on #456
Exactly as @soda0289 wrote - leaving connection open will significantly decrease lambda processing time (because if lambda stays warn the connection will be open between calls) especially if your lambda runs in VPC. For me works best the `callbackWaitsForEmptyEventLoop` I proposed in the question. It should be set on by default - or - should be documented in the readme.

[2017-08-09 15:30] ulrikstrid commented on #500
Azure Functions is what I want to implement. I think that the approach I want to take is to create a separate repo and publish under my namespace on npm. When I'm done I will ping you here and see if you're interested in a PR in to this repo.

[2017-08-09 15:58] soda0289 commented on #456
@dacz I think `callbackWaitsForEmptyEventLoop ` should be enabled by default to eliminate confusion by users and should be documented in the README as well.

[2017-08-09 19:09] #495 closed

[2017-08-09 19:12] martijnwalraven commented on #498
GraphQL does not support including fragments in schema definitions. Fragments have to be part of the query document that is sent to the server as part of the GraphQL request.

[2017-08-09 19:20] martijnwalraven commented on #472
This has just been published in Apollo Server 1.1.0.

[2017-08-09 19:20] #472 closed

[2017-08-09 19:20] martijnwalraven commented on #479
This has just been published in Apollo Server 1.1.0.

[2017-08-09 19:20] #479 closed

[2017-08-10 04:36] hulkish commented on #48
Would really appreciate this somehow being sought through. Personally, I think it's better if they just pick one... Only reason I suppose this is a value use case - is for `GET` requests, - since you can'tt send a post body with that request method?

[2017-08-10 05:43] stubailo commented on #498
That's correct - there's no way currently to define a fragment on the server side.

[2017-08-10 05:43] #498 closed

[2017-08-11 08:36] Siyfion commented on #456
Agreed, I mean for general purpose Lambda functions I can see why it's off. But this is going to almost certainly contain DB calls for all users, at which point it'll just cause confusion and delay. Document it for certain, and make sure there's a way to override, but I think having it on by default is the safest course of action.

[2017-08-11 19:16] Kielan opened #501 "Err Query fields must be an object with field names as keys or a function which returns such an object. babelrc dev server"
I am implementing graphql-server-express routes inside of a express server which also serves a frontend react app. I want to set up graphiql to explore my type queries but come across this issue. There is no stacktrace, only to the internal node modules.

[code]

I assume my err is happening not in my schema itself (which only has queries no mutation or subscriptions) and inside of my type's field